[2016-04-12 23:16] davidmarkclements opened #1 "bin file - audit or auditjs?"
Hey great tool, I'm looking at mentioning it in the third edition of Node Cookbook (http://www.amazon.co.uk/Node-Cookbook-David-Mark-Clements/dp/1783280433)

There seems to be a disparity between the readme, and the implementation

Whilst the readme lists the CLI tools name as `audit`, the actual name is `auditjs`,
the `package.json` file `bin` field would have to be changed to:

[code]

To agree

[2016-04-13 02:58] OSSIndex commented on #1
Thanks very much for the feedback and the issue report. The README has been updated to reflect the 'auditjs' name.

A new release has been pushed to both GitHub and npm with this change.

[2016-04-13 02:58] #1 closed

[2016-04-13 03:50] OSSIndex commented on #1
Needless to say, we would be thrilled if auditjs merits mention in your book.

[2017-03-07 08:27] clausfod opened #4 "Summarize in a text file like license:aggregate-add-third-party (and the OSSIndex maven plugin)"
Hi,

We would very much like to have the same functionality as you implemented in this https://github.com/OSSIndex/ossindex-maven-plugin/issues/4 for the OSSIndex Maven plugin.

Kind regards
Claus Nielsen

[2017-03-07 15:50] OSSIndex commented on #4
I am definitely interested. I am checking into merging https://github.com/qacwnfq/auditjs back into my fork, as it seems they have already implemented Jenkins reports in some manner (as well as extended the functionality to support the Bower API as well).

[2017-03-17 12:08] qacwnfq opened #5 "Feature Request: Bower support, quiet mode and J-Unit reports and white listing"
All these features would be nice for a CI environment like Jenkins. White listing is necessary to achieve stable builds when a vulnerability isn't relevant in the context of an app.

[2017-03-19 03:14] OSSIndex commented on #5
Thanks for the very comprehensive PR! I am checking it out now and should merge it within a day or two.

[2017-03-19 03:35] OSSIndex-Admin opened #7 "Create mock packages in OSS Index for testing purposes."
As suggested by @qacwnfq here: https://github.com/OSSIndex/auditjs/pull/6

[2017-03-26 02:32] OSSIndex commented on #5
Merged, tagged, and uploaded to npm.

[2017-03-26 02:32] #5 closed

[2017-03-26 02:32] OSSIndex commented on #5
(ps. Thanks!)

[2017-03-26 02:39] OSSIndex commented on #4
Sorry for the delay, I have merged [Fredrik J](https://github.com/qacwnfq)'s updates into the repository, which gives us:

* Bower support
* JUnit reports
* Whitelisting

If you run auditjs while including the `--report` option, a report directory is created with a JUnit format result file which should be suitable for Jenkins use.

[2017-03-26 02:39] #4 closed

[2017-03-26 02:40] OSSIndex commented on #4
ps. If you prefer this JUnit format, I can update the maven plugin to do provide this style of output as well without too much problem.

[2017-03-27 07:04] clausfod commented on #4
Thanks a lot :+1:

[2017-04-21 12:57] qacwnfq opened #8 "Bug: JUnit reports report vulnerabilities that have been already fixed"
At the moment the JUnit reports report false positives.
E.g. if you audit angular@1.4.3 the reports shouldn't tell you that there is a vulnerability up to version 1.3.
This could create some confusion and lead to unmaintainable whitelists in CI.

[2017-04-24 06:50] OSSIndex-Admin commented on #8
I am working on this issue today and will endeavour to have this fixed as soon as possible.

[2017-04-24 21:05] qacwnfq commented on #8
Actually it was my bad. I used pkg[vulnerabilities] instead of myVulnerabilities when writing to  the JUnit variable. It is fixed in the pull request.

[2017-04-25 02:28] OSSIndex-Admin commented on #8
Heavy. I did not see the pull request come in, sorry. Merged now -- I will do a bit more testing then publish to npm. Thanks!

[2017-04-25 02:34] OSSIndex-Admin commented on #8
Fixed by #9

[2017-04-25 02:34] #8 closed

[2017-04-27 08:15] qacwnfq opened #10 "New angular vulnerability 8398878757 found. The tests need updating."
A new vulnerability was found in angular:
[code]

The tests should be updated to expect it.

Also the JUnit reports report the wrong failure count in the testsuite node, although this doesn't seem to make a difference in Jenkins or anywhere.
While I'm making a PR for the update anyways, I might as well fix it.

[2017-04-27 14:01] OSSIndex-Admin commented on #10
Aw heck. I will use this as the driving force behind finally finishing #7, I'll get some mock projects created and available shortly. Sorry :|

[2017-04-28 12:30] qacwnfq commented on #10
It's no problem :). Thanks for the quick merge!

[2017-04-29 20:41] hmaki opened #12 "Windows carriage returns causing failure at run"
I've got a script in Jenkins that runs auditjs as the last build step. Recently it started failing saying

/usr/bin/env: node
: No such file or directory

Apparently this is the first line of the audit.js file. The support engineer hosting the devops services said this is because there is Windows carriage return after node (notice the split lines in the error output), and the system can't find pro

[2017-04-29 22:43] OSSIndex-Admin commented on #12
Heavy. It is possible, as I occasionally do work on my windows machine. I will dos2unix the whole thing and push a clean version (also do some testing to see if I can duplicate the issue).

[2017-04-30 01:54] OSSIndex-Admin commented on #12
It seems that the issue is that some Linux systems use `node` as the executable names, while some use `nodejs`, and we need to prepare for both. On your system the script was not finding `node`, hence the error message -- the \r only served to corrupt the error message.

I happen to have testing systems which represent both. I pushed a new version to npm and it seems to work on both my systems now

[2017-05-03 14:28] OSSIndex-Admin commented on #10
And yet more today. I am going to add tests to the database today and will see if I can fix the npm tests. I will let you know if I have troubles.

[2017-05-03 14:49] OSSIndex-Admin commented on #10
Updated the current tests in 08fbdae7deaf3b35c9a8d2a6bf99a30ab65414d3

[2017-05-04 05:21] OSSIndex-Admin commented on #10
I have a few test projects and am adding some test vulnerabilities. Anything in particular you think should be added? I am adding a variety of things to test:

* Package with no vulnerabilities
* Package with vulnerability in earlier version
* Package with vulnerability in later version
* Package with a vulnerability in
** Exact version
** An  unbounded "downward" range (<2.0.0)
** An unbounded "u

[2017-05-09 17:09] hmaki commented on #12
Hi

We upgraded to auditjs v2.1.4 and now suddenly I'm seeing an odd error.

/jenkins.plugins.nodejs.tools.NodeJSInstallation/Node.js_7.7.1/lib/node_modules/auditjs/audit.js:120
var output = `${programPackage.toString().split('.json').slice(0, -1)}.xml`;
             ^
SyntaxError: Unexpected token ILLEGAL
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:47

[2017-05-09 18:04] OSSIndex-Admin commented on #12
Whoa. That's odd. I'm checking into it now...

[2017-05-09 18:15] OSSIndex-Admin commented on #12
My best guess at this moment is your installed version of node is quite old. The new code that was added tried to detect the appropriate nodejs command, first checking `nodejs`, then checking `node`. It is done through this command (line 2 of the main script)

[code]

Try running the following commands and send the results:
[code]

I expect *one* of the commands likely fail in your case (hence the

[2017-05-09 20:29] hmaki commented on #12
nodejs --version
v0.10.25
node --version
v7.7.1

[2017-05-10 02:08] OSSIndex-Admin commented on #12
Alright. Out of curiosity, is this the same machine as the original problem, or a different one? On the machine I was able to reproduce the original problem the issue was that node was installed under the name "nodejs" instead of "node". My other machines have node installed under the name "node" instead of "nodejs".

It appears on your current machine node is installed under both names, but the `

[2017-05-10 03:11] OSSIndex-Admin commented on #12
Ha. Alright, turns out the original problem for you really was likely the ^M character alone, since my yet a *different* test machine was able to reproduce your issue. Very curious that some machines seems to care about ^M and some don't. I was not solely an issue of a missing node command (as one of my other machines was inferring).

So now I look for `node` first and use that if possible, then f

[2017-05-10 06:07] hmaki commented on #12
To your earlier question: yes, I ran it on the same machine. It appears to have both node and nodejs installed, with very different versions (nodejs being very old, as you said). Node version can be changed from the jenkins configuration GUI, but nodejs can't. The admins could if they bothered.

Just re-ran the builds having auditjs on, and it works now! I hope it doesn't break in other people's e

[2017-05-11 06:53] qacwnfq commented on #10
Sounds good, I can't think of any other cases.

[2017-05-11 20:26] lahdekorpi opened #13 "Report on full dependency tree"
I can't understand how the tool would even be that useful without this...
Trusting that the maintainers of your dependencies keep up to date is a bad idea.

[2017-05-11 22:09] OSSIndex-Admin commented on #13
Yup, I completely agree. I need to improve the documentation and command line help, because it is possible to get an audit for the full dependency list -- so long as you have *installed* the packages using `npm install`. You do this by changing to your application directory and running `auditjs` without any arguments. It should find all of the package dependencies and perform a full audit.

I just

[2017-05-11 22:14] OSSIndex-Admin opened #14 "Packages reported multiple times"
Run auditjs on itself like so:

[code]

The hoek package is reported on multiple times.

[code]

[2017-05-11 22:15] OSSIndex-Admin commented on #13
As a side issue, while testing to ensure it works properly I did note that packages are audited multiple times (quite likely if their inclusion is via multiple transitive include paths). I have opened a new issue to track this problem:

https://github.com/OSSIndex/auditjs/issues/14

[2017-05-11 22:19] OSSIndex-Admin commented on #13
Hmm. And I wonder if it might be better if we run in a different way:

* If the `packages.config` file has a `node_modules` sibling then perform a full transitive dependency scan
* If the `packages.config` file does not have the `node_modules` sibling then simply run against the listed packages
* Provide a new option to restrict the command to direct dependencies only (in case someone was interest

[2017-05-12 07:27] qacwnfq commented on #13
It seems one can get the dependency tree of a package without installing it:
https://github.com/npm/npm-remote-ls

I'm not sure about the versioning though.
Flattening this tree and checking against it in the case of a package.json might be a solution.

[2017-05-12 07:44] lahdekorpi opened #15 "Flag option to ignore packages with no known vulnerabilties"
Having the ability to ignore safe packages would be great.
It's quite annoying to have to scroll through a huge list of unnecessary information.

[2017-05-12 07:46] lahdekorpi commented on #13
Just tested this again and yes, it seems to work just fine when the packages have been installed.
Having to have the packages installed is a fair requirement in my opinion, and it is something that other similar tools also require.

So yeah, a documentation thing.

In cases where packages have been installed through `yarn`, you could use the `yarn.lock` file for the package version information.

[2017-05-12 07:57] lahdekorpi commented on #15
@OSSIndex-Admin Do you have any plans for something like this?

If you'd like, I can fork this and rewrite the logging part using `winston` for logging the results with different log levels for "No known vulnerabilities...", vulnerabilities and a verbose output of those vulnerabilities.
Or alternatively just the current console.log way but buffering the output in `resultCallback` before showing it

[2017-05-12 15:06] OSSIndex-Admin commented on #15
That sounds like a good idea, and I am perfectly happy with using `winston`. A pull request would be awesome if you have the time. Things are rather chaotic for me at the moment so it would be a little while before this hits the top of the list. Thanks!

[2017-05-12 15:17] OSSIndex-Admin opened #16 "Add yarn support"
https://yarnpkg.com/en/

[2017-05-12 15:17] OSSIndex-Admin commented on #13
Good idea! I have opened a new issue (https://github.com/OSSIndex/auditjs/issues/16) to track yarn support.

[2017-05-12 19:43] lahdekorpi commented on #15
I'll start work in my fork right away.
https://github.com/lahdekorpi/auditjs

[2017-05-16 06:04] OSSIndex-Admin commented on #10
Whoof, I have fallen behind on this. I will finish adding tests this week and update the module.

[2017-05-23 04:01] #14 closed

[2017-05-23 04:02] OSSIndex-Admin commented on #12
No one has complained. It looks like we have a reasonably acceptable fix, so I will close the issue.

Thanks for the help.

[2017-05-23 04:02] #12 closed

[2017-05-26 19:41] ilatypov opened #17 "Simplify invocation"
When I run npm install auditjs in my Cygwin terminal, I observe that the ``auditjs.cmd`` file in ``node_modules/.bin`` has ``/bin/sh`` instead of ``node.exe`` and ``node``.

    $ cat node_modules/.bin/auditjs.cmd
    @IF EXIST "%~dp0\/bin/sh.exe" (
      "%~dp0\/bin/sh.exe"  "%~dp0\..\auditjs\audit.js" %*
    ) ELSE (
      @SETLOCAL
      @SET PATHEXT=%PATHEXT:;.JS;=;%
      /bin/sh  "%~dp0\..\a

[2017-05-27 03:47] OSSIndex-Admin commented on #17
Thanks for the report. I will dig around a bit to see how to best handle the issue and resolve it as soon as possible.

[2017-06-02 07:52] DIDoS opened #18 "Add dependency types option"
Currently there is no possibility I know of to select which [dependencies ](https://docs.npmjs.com/files/package.json#dependencies) (devDependencies, dependencies, peerDependencies, bundledDependencies, optionalDependencies) are included to search for vulnerabilities.

An commandline option/argument like "dependencyTypes=" or --prod-only or anything to change the kind of dependencies taken would b

[2017-06-04 23:39] OSSIndex-Admin commented on #17
Sorry for the delay, things have been rather chaotic around here lately. I have finally got cygwin installed to try and reproduce the problem.

My first trial was just running the globally installed auditjs from the cygwin terminal, and that seemed to work (this auditjs was installed from the windows console):

[code]

I get the same results when running from the command line using a locally insta

[2017-06-04 23:54] OSSIndex-Admin commented on #17
Making the changes as suggested does fix the issue. Still need to figure out how to generate the correct script.

[code]

[2017-06-05 00:06] OSSIndex-Admin commented on #17
So it would appear the issue could be first line of the audit.js script, which reads

[code]

As opposed to a commonly expected

[code]

This was done to handle issue https://github.com/OSSIndex/auditjs/issues/12 wherein some installations on some Linux distributions install node in non-standard locations leading to awkward behaviour. I would rather not change the heading in order that I don't bre

[2017-06-05 16:20] ilatypov commented on #17
So I guess npm parses the first line of the script, removing potential /usr/bin/env, and sticking the rest into the text of the windows batch file it creates when publishing the package.

The two Linux issues under the same number above appear related to (a) leaving CR characters in the shell script and (b) having two installations of NodeJS under names node and nodejs.  I suspect the latter was p

[2017-06-05 17:39] svavantsa opened #19 "Usage Instructions for auditjs"
I don't know what I am missing. I installed nodejs for Windows, then installed auditjs with npm install auditjs -g command. Then I rebooted the PC and then I run auditjs -v and it says "auditjs is not recognized as a in internal or external command, operable program or batch file". What am I missing?

I am using Windows 7.

[2017-06-05 17:52] OSSIndex-Admin commented on #17
You are correct on the Debian front. I think there is even a package to support the symbolic link you mention. What makes it more complex is that in some of our users' installations there are node installations  under both names, one is new and the other is ancient (we're talking v0.10 ancient). The ugly check we do works around that situation. I expect in the not-near but not-far future this prob

[2017-06-05 18:18] OSSIndex-Admin commented on #19
I am using Windows 8.1 which *should* be close enough.

I just tried uninstalling then installing my auditjs, and have the exact same results as you do. I am reasonably sure I know the reason and am planning on having a new version published tonight which will hopefully resolve the issue. I will be introducing a new command name `auditjs-win` which will be intended to target windows.

The issue se

[2017-06-05 18:36] svavantsa commented on #19
Thank you. For your honesty and hardwork.

[2017-06-06 02:31] OSSIndex-Admin commented on #18
I like this idea. Things are crazy busy at the moment, but I will try and get to this as soon as possible.

[2017-06-06 04:19] OSSIndex-Admin commented on #19
Alright, I have added an `auditjs-win` binary/shortcut which should allow things to work on windows again. I will keep looking for a better cross-platform solution for these problems, but at least there is now a workaround.

Thank you for the issue!

[2017-06-06 04:19] #19 closed

[2017-06-06 04:20] OSSIndex-Admin commented on #17
Alright, I have added an `auditjs-win` binary/shortcut which should allow things to work on windows again. I will keep looking for a better cross-platform solution for these problems, but at least there is now a workaround.

Thank you for the issue!

[2017-06-06 04:20] #17 closed

[2017-07-04 14:08] nazimjamil opened #20 "Dependencies not compatible with Node LTS"
When installing with `yarn` it appears that an auditjs dependency is not compatible with Node 6.11.0
[code]
The error can be circumvented with `--ignore-engines`, however, it may be a better idea to test with the latest long term support version and update.

[2017-07-04 16:42] OSSIndex-Admin commented on #20
Thanks for the report. I will see what I can do.

[2017-07-12 04:57] OSSIndex-Admin commented on #20
Hi. FYI, I have been away and trying to find a new house lately so have not had a chance to work on this (moving 1600km/1000miles). I have not forgotten, and will finally be stationary again starting this weekend. I will hopefully have a better solution for you soon.

[2017-07-12 06:48] nazimjamil commented on #20
Not to worry, I'll have a look too and see if there's anything I can contribute to.

[2017-07-22 14:38] OSSIndex-Admin commented on #20
Hi. I finally have a test system up and running, but cannot reproduce the issue. I wonder if one of the downstream modules have been updated. Here are my specifics:

OS: Ubuntu 16.04.2 LTS
node: 6.11.1
npm: 3.10.10
yarn: 0.27.3

What versions are you running on? The command I am running is rather simple, and perhaps does not match your use case:

    yarn init
    yarn add auditjs

Should there be

[2017-08-20 00:12] OSSIndex-Admin commented on #18
Sorry it took so long. I added the requested options. It looks like this:

[code]

`-d` may be used instead of `--dependencyTypes`

Note the argument is a comma separated list of dependency types.

[2017-08-20 00:20] OSSIndex-Admin commented on #15
I have been very, very distracted in the last few months, but am finally getting back to working on the clients. I was planning on merging your branch and wanted to check that you are happy with the way your code works before I do so.

[2017-08-20 00:41] OSSIndex-Admin commented on #13
Sorry for taking so long in getting back to things. It has been a crazy busy couple of months, but I am getting back to updating all of the client tools.

Just a quick question. Does the information in the yarn.lock file differ from that in the packages.json file that it generates, or have you otherwise noticed problems with yarn support in the current auditjs? I just ran some tests (at long last)

[2017-08-20 01:03] OSSIndex-Admin commented on #10
This will no longer happen. Tests now run against sample projects. I am currently adding more tests for additional coverage. The work is tracked by issue #7

[2017-08-20 01:03] #10 closed

[2017-08-20 01:08] OSSIndex-Admin commented on #13
The README has been updated to make it more clear that transitive dependencies are audited if they are installed in the project under audit.

[2017-08-20 01:08] #13 closed

[2017-08-30 15:41] thom-nic commented on #15
Thanks for this, I just started using auditjs and it would be nice to have a mode that only outputs warnings/errors.  I would call it a "less verbose" or "errors only" or "summary" mode: secure packages are not being "ignored" inasmuch as they are just not being printed to stdout.

That said, this is a fantastic tool, it is definitely catching issues that `nsp` missed.

[2017-08-30 15:55] thom-nic commented on #18
It seems this option only works in conjunction with the `-p` option, meaning it only works on top-level dependencies.  Might it be possible to enhance this capability such that
[code]
scans the entire production dependency tree? Calling `npm ls --production` gives the whole production dependency tree so hopefully this is possible for auditjs to achieve.

For example, if I run `auditjs` without any

[2017-09-04 00:45] OSSIndex-Admin commented on #15
That's great to hear. Thanks! I will definitely look into a less verbose mode as I port the logging work.

[2017-09-04 00:47] OSSIndex-Admin commented on #18
You make a very good point. I will look into the interfaces and see if I can expand the feature some.

[2017-09-13 13:37] ben-moore opened #21 "Whitelist doesn't seem to work"
I'm trying to integrate auditjs into our CI build process.  I'm setup a build step to call auditjs specifying a whitelist file as there is a warning I need to suppress for a specific project, however the build process is still failing because auditjs still reports the vulnerability and the process has a non-0 exit code.

The documentation on what to put in the whitelist file isn't clear, please co

[2017-09-29 10:55] ben-moore commented on #21
Is there anyone able to provide some guidance on this please?

[2017-10-02 00:39] OSSIndex-Admin commented on #21
Dang, sorry I did not see this one come in. I will take a look at the issue tonight/tomorrow and see what I can do.

[2017-10-02 02:12] OSSIndex-Admin commented on #21
You know what, I think the white list capability is too difficult to use. I will do a quick refactoring to make a simpler version and will send information on it shortly. I expect to have it by the end of the day Monday.

[2017-10-02 04:51] OSSIndex-Admin commented on #21
OK. I have added some changes which should make this feature work better. They need a bit more testing, so I have not pushed them to npm yet (that and the machine I do that from needs to be brought back up after some maintenance). I expect I will push the changes out this evening (Monday).

The whitelist has been simplified. You can still do it the original way (which was rather involved), but a m

[2017-10-02 08:47] qacwnfq commented on #21
Nice work!

I'd like to add that the reason the whitelist looked so complicated before, was that it was also a documentation, where you could just from the whitelist get an understanding of the details of all whitelisted packages. Maybe this was too verbose, though.

Maybe we should set up a boilerplate example project showing auditjs usage for future reference.

[2017-10-02 10:48] ben-moore commented on #21
@OSSIndex-Admin thanks for the update, looks a lot more simple to use.  I've tested locally with the latest version and it seems fine, will validate on the build server once the new version in on NPM.

[2017-10-02 13:20] OSSIndex-Admin commented on #21
@qacwnfq I definitely understand, and plan on leaving both methods active. I particularly like the way you specify the project, and then the filtered vulnerabilities within. I will update the readme to explain the usage of the whitelist and will let you know when that is done so you can make sure I have explained things well.

[2017-10-02 13:29] OSSIndex-Admin commented on #21
@qacwnfq So you know, the update to the whitelist moved the "filtering" higher up the call tree. This has the effect of hiding the vulnerabilities from the non-report output as well (for both the verbose and simplified whitelisting mechanisms). If this will negatively affect your usage please do let me know.

[2017-10-03 04:40] OSSIndex-Admin commented on #21
A new version has now been pushed to npm. I am going to close this issue, but will re-open it if there is any problem.

The [README](https://github.com/OSSIndex/auditjs/blob/master/README.md) has documentation explaining the usage of the whitelist (both the simplified and verbose versions). As mentioned by Fredrik,
the verbose whitelist is quite useful in documenting the actual vulnerabilities tha

[2017-10-03 04:40] #21 closed

[2017-10-18 07:52] eriktoyra opened #22 "Auditjs exits with errno 4"
When running `npm run auditjs` on my project *auditjs* exits with `errno 4` after having completed an audit of all of the installed packages. `errno 4` indicates a "resource not available" error, but I can't figure out why this is happening. Nothing in the *auditjs* logs indicates that there are an unavailable resource. The audit log is working fine otherwise.

*Node:* v8.7.2
*NPM:* 5.4.2
*auditjs

[2017-10-18 16:24] OSSIndex-Admin commented on #22
Hmm. Quite odd. I will try and reproduce the problem later on today and let you know my results. Would you be able to send your package.json file, by any chance?

[2017-10-19 00:17] OSSIndex-Admin commented on #22
I have not been able to reproduce the problem yet on Linux or my Mac. A copy of your package.json file would be useful. Barring that, the line showing the full arguments for auditjs you are using would possibly be helpful, and some (all) of the dependencies perhaps (in case it is something odd with a specific dependency).

Is there any extra useful information in the `/Users/xxxxxxx/.npm/_logs/201

[2017-10-19 04:52] OSSIndex-Admin commented on #18
Alright. I finally have a few seconds to rub together, and have been exploring a few ideas. It seems that the examples you have provided have a bit of an issue:

* From what I can tell `marked` is a production dependency of `jsdoc`
* It seems that for `gulp` that `minimist` is a production dependency, but I cannot find `minimatch` anywhere.

The reason this is important is that the way we are curr

[2017-10-19 14:02] thom-nic commented on #18
Ok I went back and looked at this again... `minimatch` was a bad example, but `marked` is def showing up when it should not.  Here's an example:

[code]

[2017-10-20 20:37] eriktoyra commented on #22
Thank's for looking into it! I have created a [gist for my package.json](https://gist.github.com/eriktoyra/d42f5f9fc324fe36209f74863b7cbc27). I run _auditjs_ as `npm run auditjs`.

This is how the .npm log looks like:
[code]

[2017-10-28 19:26] ken-duck commented on #22
Wow. I totally allowed myself to get distracted and missed the obvious answer :| . I noticed that there were errors on the server side that roughly corresponded with my test, but it turns out that those errors were not related to my tests (they were coincidentally only related by time of occurrence).

Anyhow, the tool is working as expected! The return code of `4` does not mean `resource not avail

[2017-10-28 19:34] ken-duck commented on #18
The issue has been reproduced locally. I am working on resolving the issue today.

[code]

[2017-10-28 20:44] ken-duck commented on #18
I have added a `--prod` or `--production` option which will only output results for production dependencies. I am going to unify this with the `--dependencyTypes` option so that both command line options work in both full-project and package file invocations of the tool before pushing to npm.

[2017-10-28 21:36] ken-duck commented on #18
Alright, the new version has been published and should be available soon. You have these options, all of which have the same effect:

[code]

[2017-10-28 21:39] ken-duck commented on #18
(You are looking for version 2.2.3)

[2017-10-29 01:46] ken-duck commented on #18
The best version so far is now 2.2.4, but there remains a bug whereupon some dependencies are lost when run in --prod mode. I know the reason, but the fix is a tad more complicated. I am leaving this open for now...

[2017-10-29 05:33] ken-duck commented on #18
Attempt number 2. I have published a new version (2.2.5) which hopefully resolves the new problems I found and properly resolves the dependency list as requested. Keep an eye open for missing dependencies (all my manual tests work so far, I need to work on adding much more rigorous automated tests).

[2017-10-29 05:33] #18 closed

[2017-10-29 06:31] ken-duck commented on #15
I have implemented basic log levels using Winston for logging. You should get different results when run with:

[code]

`-l info` is the default and `-q` suppresses all console output.

[2017-10-29 06:31] #15 closed

[2017-10-29 06:32] ken-duck commented on #15
@lahdekorpi Note I have not done the modernization that you were doing in your branch. I will look into it and try bringing that over when I get a chance.

[2017-10-31 09:27] eriktoyra commented on #22
Thank you for looking into this. I think that returning the number of vulnerabilities found is incorrect because that implies that something broke the process in `auditjs` itself. `auditjs` never broke, it did its job perfectly so it should exit with `0`. Returning something other than `0` may possibly break CI builds and that's not what we want with `auditjs`.

### Desired behavior
- Return with

[2017-11-06 10:59] fwielstra opened #23 "Add vulnerability ID to regular and verbose output"
Running auditjs naively in my project gives me an exit code of 3 and one security issue (https://github.com/sockjs/sockjs-node/issues/217). Since this is not used in production for our application (tracing the dependency points to `express` and `webpack-dev-server`), I'd like to disable it.

The guide says to run `auditjs -r`, however when I do that, this issue is not output in the resulting xml f

[2017-11-08 13:22] OSSIndex-Admin commented on #23
Thanks for the request. I will look into the issues this week and will get a new version out as soon as possible.

[2017-11-30 17:00] chadbr opened #24 "flag to only report issues"
could we have a flag to only report packages with issues?

[2017-11-30 17:02] chadbr opened #25 "--prod doesn't work on Angular CLI projects"
I'm trying to use auditjs with the --prod flag on an angular cli project, and it fails to report anything.

Steps to repo:

[code]

running `auditjs --prod` yields nothing...

Thanks, Chad

https://github.com/angular/angular-cli/issues/8644#issuecomment-348215788

[2017-12-04 01:38] OSSIndex-Admin commented on #22
For now I have added a new option to suppress the error code on exit. I cannot make the default due to other people likely depending on the default. The new option is

[code]

I suspect I will have to clean up the options at some point in the future, and will do that on a major version change (probably providing a wrapper that preserves the original options). Till then I hope this will suffice.

-

[2017-12-04 01:38] #22 closed

[2017-12-04 01:43] OSSIndex-Admin commented on #23
I have added the `--suppressExitError` option which causes the tool to exit with a "0" exit code (unless something tragic happens causing catastrophic failure).

The vulnerability IDs are always reported in the standard output.

I have not yet fixes the XML output, though I will see about fixing that soon (ish).

---

I expect that at some point in the future I will rewrite the command line argume

[2017-12-04 01:44] OSSIndex-Admin commented on #24
Definitely. I will work on it now. I would say I will have a solution soon, and will endeavour to do so. I have a lot of irons in the fire so will apologize in advance if a fix is delayed.

[2017-12-04 01:45] OSSIndex-Admin commented on #25
Thanks for the report and the steps to reproduce the problem. I will attempt to resolve this issue shortly.

[2017-12-04 03:13] ken-duck commented on #25
Very curious. I have done the same, and receive different results.

[code]

Could you perhaps send some information:
* an `ls` for your myapp directory
* an `ls` of the node_modules directory
* your auditjs version (I did a recent upgrade, but it should not make too big a difference)

[2017-12-04 14:47] chadbr commented on #25
@ken-duck it looks like you're using an older version of `@angular/cli` -- you should be seeing version 5 angular components.

I uploaded the repo here: https://github.com/chadbr/myapp

[code]

[2017-12-04 22:19] chadbr commented on #24
Anything I can do to help?

[2017-12-05 07:39] Michael-Davies opened #26 "Using AuditJS with a proxy"
Great stuff! I'm behind a corporate firewall, is it possible for me to use this with a proxy?

[2017-12-06 01:09] OSSIndex-Admin commented on #26
Soon! There is a pull request in the works that should allow this to work. I will let you know as soon as it is available.

[2017-12-06 01:12] OSSIndex-Admin commented on #24
Thank you for the offer. I am always open to pull requests, but I expect to have this done by the end of this coming weekend at the latest anyhow so it is all good :)

If I cannot reproduce your other issue I might require additional help. I will be able to get back that one later in the week, so we shall see there. I will keep you updated.

[2017-12-07 17:27] OSSIndex-Admin commented on #23
That is definitely not the output I expect. Just before "Affected Versions" you should see an "ID: 12345" line. What version of auditjs are you using. I will double check to ensure I published properly, and if so I will look to see if I missed something.

[2017-12-07 18:59] thom-nic commented on #23
[code]
I just updated to v2.2.8 and now I see it:
[code]
Thanks!

[2017-12-17 21:28] OSSIndex-Admin commented on #24
Holy smokes. I went and implemented a feature for this, then realized that it already exists. It was added when we put in support for "winston" (a logging framework). You can change the verbosity of the log. Set the logging level to error in this way:

[code]

Sorry it took so long to get back to you on this. I noticed that it still prints out a line of dashes when there are no errors. I am fixing

[2017-12-17 21:29] OSSIndex-Admin commented on #24
Ah, but the error logging appears to have a bug. Fixing that now...

[2017-12-17 21:36] OSSIndex-Admin commented on #24
Nope. Testing problem. Everything seems to be running fine. Please let me know if your version does not run properly with the raised logging level.

[2017-12-17 21:36] #24 closed

[2017-12-17 21:44] OSSIndex-Admin commented on #25
Short update: I have installed your test and can see the same issue. I can definitely see some likely problems.

[2017-12-18 02:18] OSSIndex-Admin commented on #25
You managed to trigger a couple of bugs with that test. I have resolved the issue (I hope) and published 2.2.9 on npm.

[2017-12-18 02:18] #25 closed

[2018-01-09 07:16] bcdatsme opened #27 "Running against bower.json, different packages with same version number gets dropped"
Hi,

anything with 1.5.6 get skipped after angular package is checked
`
    "angular": "1.5.6",
    "es5-shim": "2.1.0",
    "angular-animate": "1.5.6",
    "angular-resource": "1.5.6",
    "angular-cookies": "1.5.6",
    "angular-sanitize": "1.5.6",
    "angular-route": "1.5.6",
`

I think there's a bug in the getDependencyList. When running against a bower.json file, the spec ends up being the v

[2018-01-12 00:40] stephengroat opened #28 "Adding support for scanning CDNs (cdnjs and jsdelivr)"
Just an idea, but figuring out a way to add support for scanning sets of files for `script` tags, looking at the targets, and pulling package information and versions from those.

for `jsdelivr`, it's super easy since it acts as a `npm` CDN.

`cdnjs` is a little bit harder, but more popular (so i think important to include). I was thinking of using the [CDNJS API](https://cdnjs.com/api) to get the

[2018-01-23 05:58] jnoksoko opened #29 "npm installation fails when using node 8.x and npm 5.x"
Getting the same dezalgo error as described in this issue: https://github.com/npm/npm/issues/17444

This issue could be fixed be either updating module's npm dependency to a newer one, or adding support for multiple versions for npm dependency in package.json.

[2018-01-25 23:00] tklancer opened #31 "Allow whitelisting by path"
We have dependencies that rely on a vulnerable package, but our current uses are fine (they're test dependencies, for example, or we've vetted that our usage isn't susceptible to the vulnerability). However, we want to ensure that if someone adds a new dependency that relies on the vulnerable package, we're alerted and can address that appropriately.

To that end, I propose allowing path-based whi

[2018-01-27 23:58] OSSIndex-Admin commented on #23
Awesome. My pleasure. Thanks for the feedback and help!

[2018-01-27 23:58] #23 closed

[2018-01-28 00:27] OSSIndex-Admin commented on #26
Hi. Sorry for the delay, but I have finally merged the PR giving us this feature. The new version is `2.3.0`.  It uses the `request` package for rest calls, which provides proxy support which is documented here: https://www.npmjs.com/package/request#proxies

Please let me know if this works for you. I do not have an easy way to test this set up at the moment.

[2018-01-28 00:33] OSSIndex-Admin commented on #27
Thanks for the report. I will test this out and try and provide a fix soon.

[2018-01-28 00:35] OSSIndex-Admin commented on #28
Definitely an interesting idea. Thanks! I don't know anything about jsdelivr or cdnjs yet, but will make some time to try them out and see if your idea could be added. I like it.

[2018-01-28 00:42] OSSIndex-Admin commented on #31
This looks great.

In order to directly use your contribution Sonatype requests that you sign a CLA (Contributor License Agreement) which more or less grants Sonatype permission to use the code. The agreement is reasonably short. There is more information in the PR comment.

[2018-01-28 00:51] #29 closed

[2018-01-28 00:52] OSSIndex-Admin commented on #29
I upgraded npm to 5.6.0

The auditjs version with the fix is 2.3.2

Thanks for the report and help!

[2018-01-28 00:53] OSSIndex-Admin commented on #16
Simple tests seem to indicate that package.json files generated by yarn work. This is sufficient support for now.

[2018-01-28 00:54] #16 closed

[2018-01-29 05:58] jnoksoko commented on #29
No problem! And thanks for a great package and making changes so quickly!

[2018-01-31 23:16] roine opened #34 "Ability to audit libraries that aren't in bower or package"
I have some libraries that are too old to be in npm or bower and would like to check their vulnerability.

It would be nice create a json file containing those libraries information, ie:
[code]
Then in the shell
[code]
If the idea sounds good, I could dig into it.

[2018-02-09 03:31] OSSIndex-Admin commented on #34
This is great! I think it is a great idea and am definitely keen.

In order to directly use your contribution Sonatype requests that you sign a CLA (Contributor License Agreement) which more or less grants Sonatype permission to use the code. The agreement is reasonably short.

http://www.sonatype.org/SonatypeCLA.pdf

If you are alright with this, you can send the signed document here: jhesse@sona

[2018-02-12 06:03] OSSIndex-Admin commented on #31
I merged your pull request, and made a couple of minor adjustments (it failed on some of my local tests, simple changes.) I have pushed the code and published a new version. Please let me know if there are any problems.

Thanks for the help, and sorry for the delay. I have a lot of irons in the fire at the moment and occasionally some things slip a while. Some of my projects are winding up soon wh

[2018-02-14 00:57] thiagofigueiro opened #36 "Whitelisted vulnerabilities should be marked as "skipped" in JUnit report"
## Description

When running `auditjs -w file.json`, the application correctly exits with status 0 if it encounters vulnerabilities present in the whitelist file.

The JUnit report doesn't follow the same logic and marks whitelisted vulnerabilities as failures.

## Example

When file.json contains:
[code]

And I run `auditjs -r -w file.json` against a project containing a vulnerable version of `br

[2018-02-14 01:59] thiagofigueiro commented on #36
Upon further investigation, I believe this issue is - at least in part - caused by the simplified whitelist format.

https://github.com/OSSIndex/auditjs/blob/7b14b2203e100715aec3aaf6ccced0d606184a24/audit.js#L369-L378

In the simplified format, the `prepareWhitelist` function incorrectly assumes `whitelist` is an array of hashes (line 376).

[2018-02-14 03:13] thiagofigueiro opened #37 "Simplified whitelist format is not accepted"
As per the comment on Issue #36

https://github.com/OSSIndex/auditjs/issues/36#issuecomment-365470922

[2018-02-15 05:40] callum-p opened #39 "Exit code for CI/CD"
Hello,

Love the app!

Could you make the return code non 0 if vulnerabilities are found? Or make it do that with a flag?  If I want to use this I need to parse the output because it always returns 0.

https://github.com/OSSIndex/auditjs/pull/40

[2018-02-15 23:44] #37 closed

[2018-02-16 00:29] #39 closed

[2018-02-16 00:49] OSSIndex-Admin commented on #36
Thank you for the very descriptive report.

I am looking at the issues now. It looks like there is some broken logic in the counts which needs repairing. I am resolving this first, I will then look to the "skipped" testcase element.

[2018-02-16 00:55] OSSIndex-Admin commented on #36
I think the counts should be right now. The testcase element will take a little longer.

[2018-03-07 20:15] jdillick opened #41 "Running with --prod causing RangeError: Maximum call stack size exceeded"
Node v8.9.1 (installed on MacOS
10.13.3)

package.json dep lists:

`{
  "dependencies": {
    "axios": "^0.17.1",
    "babel-core": "^6.24.1",
    "babel-loader": "^7.0.0",
    "babel-plugin-react-transform": "^3.0.0",
    "babel-plugin-transform-object-rest-spread": "^6.26.0",
    "babel-plugin-transform-runtime": "^6.23.0",
    "babel-preset-env": "^1.6.1",
    "babel-preset-react": "^6.24.1",

[2018-03-11 20:56] ken-duck commented on #41
Thanks for the information. I will look into the issue.

[2018-03-11 21:21] ken-duck commented on #41
Odd. Initial tests with `node v8.2.1` on `Mac OS 10.13.3` work fine. I also tried dropping the stack size down to 250 and it still worked.

It also seems to work with `node v8.10.0` (which I just upgraded to).

How did you install node? Is there any other information that you think may be helpful?

[2018-03-11 21:23] ken-duck commented on #41
Works at the default stack size for me as well. What version of audit.js are you running?

[code]

[2018-03-11 22:09] jdillick commented on #41
@ken-duck I installed node with nvm. Running auditjs 2.4.2.

[2018-04-01 17:27] OSSIndex-Admin commented on #31
I think this is resolved.

[2018-04-01 17:27] #31 closed

[2018-04-06 00:54] cheesestringer commented on #26
Trying to use the proxy but it relies on environment variables rather than the npmrc config.

[2018-04-06 14:53] tcschiller opened #43 "--quiet flag throws TypeError"
[code]
That's pretty much it. Looks like verbose mode properly adds an `EventEmitter` with a `level` property to `this.transports` but quiet mode doesn't.

[2018-04-09 04:56] ken-duck commented on #26
Yup. I'm looking at the npmrc information now. It should not be too hard to make it use those settings appropriately.

[2018-06-20 04:27] jasonblalock commented on #41
I ran into the same issue. Running in the official node:8 docker image with create-react-app.

Node version: 8.11.3
auditjs version: 2.4.3

Command: `yarn run auditjs --production`

Output:
[code]

[2018-06-21 17:21] ken-duck commented on #41
Heavy. Thanks for the information. I will dig into this further.

[2018-07-06 11:47] dfn-certling commented on #27
Isn't this also the case for package.json? When parsing a JSON file for dependencies, the structure of the dependencies is always the same. It's a flat object with the dependency's name as the key and its version as the value. Above code sets spec to the version number only.

[2018-07-10 18:59] heinosasshallik commented on #41
Also getting this error when running ```auditjs-win --prod```. Version 2.4.4.
Any fixes?

[2018-07-10 19:03] ken-duck commented on #41
Not yet, as I have been away for a couple of weeks. I am back as of yesterday. I will attempt to resolve the issue today since this obviously affects several people.

Ken

[2018-07-11 01:05] ken-duck commented on #41
OK, I might have a fix pushed up now. I have not reproduced the problem itself, but I figured out where the code was wrong and likely allowing infinite recursion to happen.

When you get a chance can you try the fix and let me know if it worked?

Possible fix in version `2.4.5`

[2018-07-11 07:51] heinosasshallik commented on #41
The problem resolved after updating to 2.4.5. Thank you!

[2018-07-11 22:41] ken-duck commented on #41
Great to hear. Thanks for the help.

So you know, 3.0.0 (beta) will be released shortly. You will have to explicitly ask for it till it is out of beta, but it uses the new OSS Index 3.0 API which provides access to many more vulnerabilities, and is the database that will continue to grow while 2.x will be deprecated. There are still a few minor features required (username/token for higher rate lim

[2018-07-11 22:41] ken-duck commented on #41
Closing the issue unless the problem still exists for some users...

[2018-07-11 22:41] #41 closed

[2018-07-13 03:35] ken-duck commented on #41
The 3.0.0 beta is now available.

https://www.npmjs.com/package/auditjs/v/3.0.0

I have not updated the README yet. You will find most things work the same as they used to. There are several new features which need to be documented.

One thing to note is that the API is rate limited. It is unlikely to be a problem in most cases, but you can increase the rate limit by registering for an account at

[2018-08-01 09:48] quentinkhoo opened #48 "Question: What does x known vulnerabilities, x affecting installed version mean?"
Hello,

I would like to ask, currently I'm using auditjs to scan a web application project for potential vulnerabilities. I noticed that for each dependency, it's either reported as "No known vulnerabilities" or the above. My question is actually how do I interpret the results?

Thank you very much, I hope to hear from you soon.

[2018-08-02 18:13] ken-duck commented on #48
Hi. FYI, this text will be changing soon as the new OSS Index API we are moving to provides slightly different data, as well as the fact that the messages are confusing (as you have indicated).

"**X Known Vulnerabilities**": This means that the package has known vulnerabilities across ALL versions, but not necessarily in the version that is currently in use. You can basically ignore this message,

[2018-08-02 18:13] #48 closed

[2018-08-02 18:14] ken-duck commented on #7
Closing. This is an internal issue, and there is precious little time to worry about it at the moment.

[2018-08-02 18:14] #7 closed

[2018-08-05 06:00] ken-duck commented on #26
At long last I have added support for the npmrc file as well. Sorry it took so long.

As before, I do not have a good way of testing this currently, so if you notice anything please do let me know.

At the same time I have upgraded auditjs to use the new OSS Index v3 API, which has numerous benefits, primarily:

* More vulnerabilities
* The database is being actively maintained (v2 database is no

[2018-08-05 06:00] #26 closed

[2018-08-05 06:05] ken-duck commented on #43
This has been fix (as per PR merge above).

Just an FYI, a new version (3.0.3) has been uploaded. It provides several key features (among other things):

* Support for OSS Index API v3
** More vulnerabilities
** The v3 database is actively maintained, the v2 DB is no longer maintained
* Authentication support, as the v3 API rate limits, but a free account raises the rate limit. Depending on your u

[2018-08-05 06:05] #43 closed

[2018-08-05 06:07] ken-duck commented on #27
Just an FYI, a new version (3.0.3) has been uploaded. It provides several key features (among other things):

* Support for OSS Index API v3
  * More vulnerabilities
  * The v3 database is actively maintained, the v2 DB is no longer maintained
* Authentication support, as the v3 API rate limits, but a free account raises the rate limit. Depending on your usage you may not require an account, other

[2018-08-06 09:41] DanielRuf opened #49 "Getting 400 errors also with full cache and connected account"
[code]

[2018-08-06 09:42] DanielRuf opened #50 "Audit stops with [891/1129]"
It is not clear why the audit does not step at [1129/1129] but stops at [891/1129].

[code]

[2018-08-06 13:38] ken-duck commented on #49
Thanks for the information. I will try and reproduce your problem today. Is it possible for you to send me your package.json file (or the dependency section)?

[2018-08-06 13:49] DanielRuf commented on #49
This is from my package.json file:

[code]

[2018-08-06 16:35] ken-duck commented on #49
Thanks!

FYI: I have reproduced both your issues, though curiously not on the same packages. That will certainly make things easier.

[2018-08-06 17:18] ken-duck commented on #49
Simplest dependency list to reproduce the problem:

[code]

The issue is that auditjs is improperly handling the scope.

[2018-08-06 17:20] ken-duck commented on #50
This is most likely caused by the "400" error from this issue: https://github.com/OSSIndex/auditjs/issues/49

Fingers crossed, fixing one fixes the other.

[2018-08-06 17:43] #49 closed

[2018-08-06 17:46] ken-duck commented on #50
Published a fix: Version 3.0.6

[2018-08-06 17:46] #50 closed

[2018-08-06 17:47] ken-duck commented on #49
Published a fix: Version 3.0.6

[2018-08-06 17:47] DanielRuf commented on #49
Ah, that makes sense. I'll check tomorrow if it works now and all dependencies are checked.

[2018-08-07 06:50] DanielRuf commented on #50
Works now 👍 🎉

[2018-08-07 06:51] DanielRuf commented on #50
Thanks for the lightning fast reaction and help and thanks for maintaining auditjs.

[2018-08-07 06:51] DanielRuf commented on #49
Works now 👍 🎉

[2018-08-09 15:19] DanielRuf opened #52 "chocolatey: is misleading on macOS"
We use homebrew and nodenv to set the Node.js version in projects.

But chocolatey is a bit misleading in this case.

https://github.com/OSSIndex/auditjs/blob/8736d38e5014ebf5d2f282c7e73b582d1159c25c/audit.js#L135

Is there a reason to use `chocolatey:` for all clients and platforms?

[2018-08-09 19:56] ken-duck commented on #52
Heh. I agree that is rather confusing, and I had completely forgot this was in there :D

OSS Index does not currently have filtering by operating system, which means that we report the same vulnerabilities for "nodejs" regardless of operating system at this time.

OSS Index does not provide vulnerabilities for "homebrew" at this time, so the best way to report nodejs vulnerabilities is just to sel

[2018-08-10 08:16] DanielRuf opened #53 "Do not bundle with npm"
npm is a dependency of auditjs and currently contains a vulnerability which is found by snyk.

[code]

Generally there should not be another npm.
In general, users should have the option to choose the used package manager (like others do with flags like `--yarn`, `--bower`, `--npm` and so on).

[2018-08-10 11:12] DanielRuf commented on #53
Mh, seems so far it is not so easy to solve this as we need an alternative solution for the resolution of the dependencies.

[2018-08-10 12:06] DanielRuf opened #54 "wrong Node.js checks"
These are vulnerabilities which are not really related to Node.js 10.8.0.

[code]

[2018-08-10 12:46] ken-duck commented on #53
Thanks for the report! This was (I think) fixed a few days ago: https://github.com/OSSIndex/auditjs/commit/d53ed4289ef745d193b514d1725f0490d89737c6

It is fixed in the new 3.0.x release version (https://www.npmjs.com/package/auditjs).

It was also discovered using the new 3.0.x release version. This upgrade allows auditjs to use the newest version of OSS Index which has MANY more vulnerabilities i

[2018-08-10 12:49] ken-duck commented on #54
Thanks for the heads up. I will look into what is being reported and why, then issue an update.

[2018-08-10 12:49] ken-duck commented on #54
Meanwhile you can disable the "node" check with the -n option.

[2018-08-10 12:51] ken-duck commented on #53
Looks like you are using the 3.x stream. I will look deeper into the issue you found and see if I can resolve it. Thanks again for the heads up!

[2018-08-10 13:13] DanielRuf commented on #53
For reference:

[code]

[2018-08-10 13:33] ken-duck commented on #54
Ah. Found and resolved the problem. It was reporting an incorrect version number for node (in a sense) which was confusing the server. The server side is also being fixed to prevent the possibility of similar client confusion.

Incidentally also upgraded some other dependencies, but it does not fix the npm problem (alas).

published to npm as version 3.0.8

[2018-08-10 16:35] ken-duck commented on #53
So you know, our security researchers have dug into the details and it seems that npm does not appear to be vulnerable to the cryptiles issue. We will be sure to upgrade to any newer version of npm if they update the cryptiles dependency so the false positive disappears.

Thank you for drawing our attention to the issue (and your other reports as well). It is very appreciated.

[2018-08-10 16:35] #53 closed

[2018-08-13 07:09] DanielRuf opened #55 "error with shrinkwrap and coffee-script and a few other"
[code]

Also `dateformat` has this issue.

[code]

Others seem to work, for example `"version": "https://registry.npmjs.org/dashdash/-/dashdash-1.14.1.tgz",`

Full stacktrace:
[code]

[2018-08-13 07:16] DanielRuf commented on #55
This creates files like
[code]

So it seems it is a problem with the version parsing.

[2018-08-13 13:42] DanielRuf opened #56 "feature request: option to set cacheUntil"
Currently `cacheUntil` is updated after a while and I found no option to set how long it should be cached.

Also there is no real change in the file.
[code]

[2018-08-14 05:06] ken-duck commented on #55
Interesting. Thanks for the information!

[2018-08-14 12:10] DanielRuf opened #57 "Does not work with GitHub URLs"
`ENOENT: no such file or directory, open '/Users/druf/.auditjs/cache/auditjs3x/npm:file-cookie-store@github:msikma/file-cookie-store.json'`

package.json:

[code]

[2018-08-15 15:30] ggraat opened #58 "Auditjs reports CVE on dependency which has a higher version than the CVE is reported on"
We are using auditjs version 3.0.8 to check our dependencies. We have the following entry in our package.json:

`  "dependencies": {
   ...
    "moment": "^2.22.2",
    ...
`

When I run the following command:
`yarn auditjs-win --report --prod`

the following CVE is reported:

As the description of the CVE clearly states, this is about moment versions 2.11.2 and before, and we use 2.22.2 (the late

[2018-08-15 15:36] ggraat opened #59 "Internal library dependency causes all kinds of CVEs to be reported related to old angularjs dependency"
We are using auditjs version 3.0.8 to check our dependencies. We have the following entry in our package.json:

`"dependencies": { ... "@blueriq/angular": "^0.4.0-alpha.6", ...`

This is a library that we develop internally.

When I run the following command:
`yarn auditjs-win --report --prod`

10 CVEs are reported on this dependency. If I review them, it seems that the @blueriq/angular dependency

[2018-08-15 16:32] ken-duck commented on #59
That is almost certainly the case. I will explore what we can do to avoid these problems. There is some server-side work that will be required to truly solve the issue, but I can at least get the client from reporting these invalid issues.

[2018-08-15 16:33] ken-duck commented on #58
Whoops. I thought I had resolved that issue. I will look into it.

[2018-08-15 16:36] ken-duck commented on #57
There have been several issues reported in the last couple of days due to not handling similar situations (problems in properly parsing the dependency names/versions). I will endeavour to resolve these today and/or tomorrow.

[2018-08-17 00:15] #59 closed

[2018-08-17 00:18] ken-duck commented on #57
I am working on resolving this now. This will be a two stage fix.

The first will just ignore GitHub URLs.

At some point in the (hopefully not too far) future we will be supporting reporting vulnerabilities in GitHub dependencies. This requires server side updates. It is in the roadmap, but won't be really soon, thus the first "fix".

[2018-08-17 00:41] #57 closed

[2018-08-17 03:29] #58 closed

[2018-08-17 04:31] DanielRuf commented on #57
Understood, sounds good :+1:

[2018-08-17 04:34] ken-duck commented on #55
I have not seen dependencies defined like this before. Could you provide an example package file which shows where this goes in context?

[2018-08-17 04:57] ken-duck commented on #55
I see. That is the package-lock file.

[2018-08-17 05:10] ken-duck commented on #55
I have not been able to reproduce this problem. Could you send a package.json file that causes the issue?

If you were running directly against the package-lock.json file, I think the issue may have been resolved in auditjs@3.0.9 (newly published).

[2018-08-17 09:38] DanielRuf commented on #55
It happens for example with asyncdesign/webui:

[code]

[2018-08-17 09:39] DanielRuf commented on #55
Did an update to 3.0.9 and now I get no errors anymore.

[2018-08-17 09:39] #55 closed

[2018-08-17 13:44] DanielRuf opened #60 "question about pkg:npm in cache"
It seems there is now a change. Is this expected? (I guess yes as it looks correct now but it i a bit confusing that both URLs work).

https://github.com/DanielRuf/auditjs-cache/commit/bdc63095c476b6a10e42b1e3126e4eb9f9eabd2a

[2018-08-21 19:23] tklancer opened #61 "Question: Is the API required to return items in the same order as requested?"
Since the v3 update, we've had an intermittent problem with reporting true vulnerabilities against the wrong library. The problem seems to manifest itself in the loop [here](https://github.com/OSSIndex/auditjs/blob/master/audit-package.js#L218) where the array of pkgs sent to the server is assumed to be in the same order as the data returned. I've run it with some debug and it looks like the array

[2018-08-21 19:29] tklancer commented on #61
Thanks @ken-duck !

[2018-08-21 23:08] #61 closed

[2018-08-22 19:37] tklancer commented on #61
Thanks so much for the quick turnaround!

[2018-08-31 15:43] DanielRuf opened #62 "dep.version.indexOf is not a function when checking plyr with yarn"
[code]

[2018-08-31 15:44] DanielRuf commented on #62
I cloned plyr and am currently at

[code]

[2018-08-31 15:46] DanielRuf commented on #62
With auditjs@3.0.10:

[code]

[2018-08-31 15:47] DanielRuf commented on #62
[yarn.lock.zip](https://github.com/OSSIndex/auditjs/files/2340703/yarn.lock.zip)

[2018-08-31 16:06] DanielRuf commented on #62
Hm, seems after this (after the upgrade?), some (old) files are deleted:

[code]

Only those with `pkg.npm` are left, was there a "breaking" change in the CLI which produces this different behavior?

[2018-08-31 16:07] DanielRuf opened #63 "not all releases on https://github.com/OSSIndex/auditjs/releases"
It seems some are not properly tagged.

[2018-08-31 16:09] ken-duck commented on #62
There was a bug in the caching mechanism, so the cache paths have changed. I delete the old ones as they would just be noise at this point (never used again).

[2018-08-31 16:28] DanielRuf commented on #62
Ah ok, can I simple rename the files or has their content changed too? Should have asked this in another issue as this is not related to the `indexOf` bug.

[2018-08-31 17:20] ken-duck commented on #62
Hmm. I don't remember exactly, but I think the content is the same. I am not sure exactly what you are doing, but the auditjs code refreshes these files once a day (its a cache), so technically the files should replace themselves?

[2018-08-31 19:47] DanielRuf commented on #62
I just ran auditjs after the self-update.

[2018-09-04 04:02] ken-duck commented on #56
I should be able to fit some time in this week for auditjs fixes and improvements. In particular Thursday is looking quite good. I will try and resolve as many of your issues as possible by the end of the week.

Thanks very much for the suggestions and issue reports!

[2018-09-06 07:17] DanielRuf opened #64 "gauge can not be found (npm bug?)"
`Could not find package matching pkg:npm/Gauge@2.7.4`

[code]

Interesting, the lockfile of npm does not contain any URL to the gauge package.

[code]

Interestingly npm does not report this when I start my app.
The lockfile of Yarn contains the URL, but the lockfile of npm does not.

It also happens with npm 6.4.1.

[2018-09-06 07:17] DanielRuf commented on #64
I'll close this issue later, this one is a reminder for me.

[2018-09-06 13:42] DanielRuf opened #65 "etag package can not be found"
`Could not find package matching pkg:npm/ETag@1.8.1`

[code]

[code]

[2018-09-06 13:45] DanielRuf commented on #65
And also in another project:

`Could not find package matching pkg:npm/jQuery@2.2.0`

[2018-09-06 16:51] ken-duck commented on #65
Very odd. I'll work on this one first...

[2018-09-06 16:53] ken-duck commented on #65
They definitely work from the website, which would seem to indicate it is an auditjs client side problem.

* https://ossindex.sonatype.org/component/pkg:npm/jQuery@2.2.0
* https://ossindex.sonatype.org/component/pkg:npm/ETag@1.8.1

[2018-09-06 17:02] ken-duck commented on #65
I was able to reproduce the ETag issue

[code]

[2018-09-06 17:05] #65 closed

[2018-09-06 17:07] ken-duck commented on #63
Indeed, you are quite right. I do not have this automated yet and have missed some. I will endeavour to ensure things are synced up better in the future, and given a chance will go back in time and catch things up.

Meanwhile I will have to let this issue linger for a while as a reminder.

[2018-09-06 17:10] ken-duck commented on #60
It is expected. The original audit.js was using an older form of [PURLs](https://github.com/package-url/purl-spec) which did not have the "pkg:" prefix. We have since upgraded to use the more modern PURLs with the prefix, and have updated the cache data along with it.

Old cache files should be cleaned up automatically, all going well.

[2018-09-06 17:10] #60 closed

[2018-09-06 17:26] DanielRuf commented on #64
Should be fixed by https://github.com/OSSIndex/auditjs/commit/d981f8e52443f8f9ec1cdbbc2844085acc6adb01

[2018-09-06 17:26] #64 closed

[2018-09-06 17:26] ken-duck commented on #60
I believe the contents remained the same. Note that auditjs tries to overwrite the files when it runs, as there may be new vulnerabilities found for a package and those new vulnerabilities would be added to the cache.

The cached files are currently "valid" for 24 hours (I think) at which time auditjs will hit the server for new data.

[2018-09-06 17:28] ken-duck commented on #65
I believe that it will, yes. There are a few issues throughout the various toolsets on how to handle mixed-case packages. NuGet, for example, is explicitly case sensitive, while others are explicitly case insensitive and still others do not specify. We are gradually learning the ins and outs of each system and adjusting accordingly.

[2018-09-06 18:01] ken-duck commented on #62
About the original issue, it seems that somewhere in the dependency tree there are a couple of dependencies which do not specify a version string, but some sort of object.

[code]

The initial fix for this is to identify these and just indicate there is a problem finding an appropriate version. It will look like this:

[code]

What is curious is in both these cases a version of async and knox ARE

[2018-09-06 18:02] #62 closed

[2018-09-06 18:06] ken-duck commented on #56
The file will only change if new vulnerabilities are found on the server side, or the data for a particular version has changed (new description, for example).  The purpose of the file is to reduce the load on the server, as vulnerabilities are updated once a day at the most, and connections are rate limited so hitting the server many times for the same data wastes the limit and bandwidth.

I can

[2018-09-06 18:16] #56 closed

[2018-09-06 18:17] ken-duck commented on #56
You can now specify the cache timeout using either a command line option:
[code]

or a config file option:

[code]

In either case the value is the number of hours the cache is valid for. Default is 24 hours.

[2018-09-06 20:45] DanielRuf commented on #56
Awesome, I'll test it tomorrow.

Do we have to update the readme / docs and help command?

[2018-09-06 20:47] DanielRuf commented on #56
Awesome, I'll test it tomorrow.
I guess we have to mention this in the docs too probably.

[2018-09-06 21:07] DanielRuf opened #66 "check libnpm as npm replacement"
`libnpm` seems to provide many parts of the npm API without the need to use the full npm.

Could this be used instead of `npm`?
I'm not yet sure.

https://www.npmjs.com/package/libnpm

[2018-09-13 08:35] thundur opened #68 "Auditjs wrongly reports vulnerabilities in nodejs"
As of yesterday, auditjs reports CVE-2018-7159 and CVE-2018-7160 on nodejs. Nodejs isn't included in our package.json and also it isn't a transitive dependency.

I can see it reports the version of nodejs that is installed globally on the system. (8.11.1 of one system; 8.12.0 on another). However, both CVEs have been fixed in nodejs 8.11.0, so I would not expect that they are reported in my case.

[2018-09-14 02:43] wongherlung commented on #68
I've also encountered this problem. My nodejs's version is `8.11.4` and yet this issue still surfaces. Had to whitelist it in the end.

[2018-09-14 03:32] ken-duck commented on #68
Thank you for bringing this to our attention. It seems that the CVEs for each of these issues have been incompletely entered at the NVD (or something went wrong, or I am reading it wrong).

According to these links:

- https://nvd.nist.gov/vuln/detail/CVE-2018-7159
- https://nvd.nist.gov/vuln/detail/CVE-2018-7160

The vulnerabilities at NVD give the following ranges:

- `<9.10.0`
- `>= 6.0.0`

Obv

[2018-09-14 03:34] ken-duck commented on #68
Based on the information in the advisories linked at NVD I would guess that the ranges have just not been updated there, alas.

[2018-09-14 03:47] ken-duck commented on #68
The versions have been overloaded in the back end. These changes should find their way to the public server within 24 hours. If they do not then I will dig further.

[2018-09-17 12:30] DanielRuf opened #69 "Node.js 10.10.0 is marked as vulnerable [CVE-2018-7160]"
[code]

[2018-09-17 12:33] DanielRuf opened #70 "PnP (Yarn) support"
There is the new Plug'n'Play concept which makes node_modules obsolete:

https://github.com/yarnpkg/rfcs/pull/101

https://github.com/yarnpkg/yarn/pull/6382

https://www.reddit.com/r/node/comments/9fh89w/yarn_plugnplay_getting_rid_of_node_modules/

[2018-09-17 12:34] DanielRuf commented on #70
So it might make sense to define the directory to check or some mapping (like the new pnp file).

[2018-09-18 02:55] ken-duck commented on #70
Heavy. Thanks for the heads up. I'll look into exploring these various options. It will have to wait a little while as I am currently mostly focussed on getting the other OSS clients upgraded (for other languages/ecosystems).
Once I have them upgraded I will be able to revisit the npm client and ensure it works for these alternatives.

[2018-09-18 03:01] ken-duck commented on #68
It seems my initial fix to the data has not taken hold. I am digging a bit deeper and will try and resolve it tonight.

[2018-09-18 03:11] ken-duck commented on #68
If not tonight, then it is definitely a high priority until I have it resolved.

[2018-09-18 03:15] ken-duck commented on #69
From https://github.com/OSSIndex/auditjs/issues/68

It seems the data has not been fully corrected through our pipeline. I am debugging the data to figure out why it is not being updated and will resolve the issue as soon as possible,

[2018-09-18 03:15] ken-duck commented on #69
Closing as duplicate of https://github.com/OSSIndex/auditjs/issues/68

[2018-09-18 03:15] #69 closed

[2018-09-18 04:37] DanielRuf commented on #70
For npm, see https://github.com/npm/tink which is a different implementation.

[2018-09-19 02:43] ken-duck commented on #68
It seems this issue has now been resolved. Please reopen if you still see a problem. Thanks for the help!

[2018-09-19 02:43] #68 closed

[2019-01-25 09:44] avtrifanov opened #71 "Error in getCleanVersion function"
There is undefined variable "version" in getCleanVersion function:
[code]
When "match" is undefined (for example for package with version "1.1") the error happened:
[code]

[2019-01-26 17:49] joh-klein opened #72 "Why node_modules and not package-lock.json?"
It has probably been answered before, but I can't find that answer: why do you traverse the node_modules folder and not use the contents of package-lock.json (yarn.lock)?

[2019-01-26 17:53] joh-klein opened #73 "auditjs vs npm audit vs yarn audit"
How much does the output from these three tools differ? Why use one above the other? I would really appreciate an answer to this!

[2019-01-27 02:13] ken-duck commented on #72
Actually, that is a good question.

When I wrote audit.js, the package-lock.json file didn't exist. Audit.js was first released on October 6th, 2015, while the package-lock.json file apparently didn't exist until May 25th, 2017.

Funny thing is, I do not maintain a lot of npm stuff (besides audit.js there are only a few toys that I muck about with sometimes). I was not aware of the existence of th

[2019-01-27 02:32] ken-duck commented on #73
I can mostly on speak in hypotheticals, not having complete information on `npm audit` and `yarn audit`.

The major difference is that OSS Index owns and maintains its own vulnerability database that is separate and distinct from that maintained by npmjs. I cannot comment on where npmjs gets its data, but OSS Index has a research team that are constantly looking for new vulnerabilities to add to i

[2019-01-30 11:58] joh-klein commented on #72
I like the option of doing an audit without downloading all of the packages. Because it is (very likely) quicker. But I also feel safer not installing a potentially harmful package and only after it is already on my system discover that there are known issues with it.

[2019-03-10 01:36] ken-duck commented on #72
Its been a while, but I am getting back down in there now and will attempt to have a solution out reasonably soon.

[2019-03-10 01:36] ken-duck commented on #73
Closing for now, but please do reopen if you have more questions or feedback!

[2019-03-10 01:36] #73 closed

[2019-03-10 01:38] ken-duck commented on #70
Whoa, this one has lingered. Sorry for that. I am looking into implementing a lock file check, which I suspect is one way to deal with this problem. Once that is done I will dig further to see if there are more alternatives that make sense.

[2019-03-21 17:12] ken-duck commented on #72
At long last, 3.1.0 has been published. You can now go

[code]

[2019-03-21 17:13] #72 closed

[2019-03-21 17:14] ken-duck commented on #71
Ewf. Sorry for delay. Working on a fix now.

[2019-03-21 17:51] #71 closed

[2019-03-21 17:51] ken-duck commented on #71
Release 3.1.1 published with a fix.

[2019-03-21 18:03] ken-duck commented on #70
Release 3.1.1 is out, with support for the yarn.lock file:

[code]

[2019-03-28 00:50] aefhm opened #74 "Nested dependency vulnerability"
[`node.extend`](https://www.npmjs.com/package/node.extend) one of the nested sub dependencies is [vulnerable](https://nvd.nist.gov/vuln/detail/CVE-2018-16491). Are y'all open to upgrading dependencies in patching this issue?

[2019-03-28 02:07] OSSIndex-Admin commented on #74
We are indeed. I am away from the office at the moment, but get home
tomorrow evening. I will put this to the top of the stack.

Now that you have brought this up, I have been putting off adding all these
clients on s daily automated check; I will make a new issue to track that
and link it here.

Thanks for your help and interest.

On Wed, Mar 27, 2019, 5:50 PM Xi Zhang, <notifications@github.com>

[2019-03-28 16:15] aefhm commented on #74
Thank you! I appreciate the attention to this and this communication.

[2019-04-01 00:59] ken-duck commented on #74
FYI, fixing this will take a bit of effort. The persistent-cache plugin itself has not been updated in two years. I have been planning on rewriting the caching to use a format common between all of the OSS Index client tools, however, which will resolve the issue. It will also take a little longer for me to complete.

Rest assured it is in the works.

[2019-04-01 06:59] aefhm commented on #74
Thanks for the update! Totally understand the dependency thing.

[2019-06-04 18:16] Yohanna opened #75 "AuditJS reports wrong vulnerability in Express module"
I recently started receiving this warning for the Express module

[code]

However, the OSS Index page links to this NPM advisory: https://www.npmjs.com/advisories/453
Which is completely unrelated to the Express module.

I opened an issue in the Express repo as I originally though it's a genuine problem in the module, but it turns out it is not: https://github.com/expressjs/express/issues/3978

[2019-06-04 20:39] scottbrady opened #76 "Erroneous CVE for almost all Node.js versions?"
auditjs is reporting that Node.js 10.16.0 has a vulnerability:

[code]

The vulnerability entry appears to be flagging almost every version of Node.js.

https://ossindex.sonatype.org/vuln/da7a1fb7-07c1-4066-a3b4-7c4d88823517

Maybe the vulnerability entry was created with incorrect information?

[2019-06-04 20:40] ken-duck commented on #76
Thanks for the notification. I will look into this tonight.

[2019-06-05 03:44] ken-duck commented on #76
With some deeper research I have tightened the range somewhat, and also found some backports to the original fix. The range we will be publishing shortly is now:

[code]

It should show up sometime by the end of the day on Wednesday, all going well.

[2019-06-05 03:59] ken-duck commented on #75
Sorry about that. An interesting confluence of issues came together at the same time to cause this problem. Long story short a number of packages were incorrectly implicated by that vulnerability. You should find it no longer being reported. We are adding in preventative measures so this issue does not reoccur.

Thanks for letting us know!

[2019-06-05 03:59] #75 closed

[2019-06-10 16:45] scottbrady commented on #76
Thanks for the quick response to this issue. Unfortunately I'm still noticing this vulnerability reported for Node.js 10.16.0. Looking at the vulnerability entry I'm still seeing the same broad version range.

Do you have an ETA for when the updated entry will be published? Thanks!

[2019-06-10 17:13] ken-duck commented on #76
Many apologies. I will look into the matter and force push the data through ASAP.

[2019-06-11 15:25] scottbrady commented on #76
Thanks for fixing the vulnerability entry!

[2019-06-12 17:02] mmedemaskytap opened #77 "Erroneous CVE?"
auditjs is reporting that Node.js 8.15.1 has a vulnerability:

Found 1 CVEs

Severity: High [CVE-2018-1000168]  Improper Input Validation, NULL Pointer Dereference
 https://ossindex.sonatype.org/vuln/8a0c1adf-93c6-4986-96af-9b744b2eda07

https://nodejs.org/en/blog/vulnerability/june-2018-security-releases/

seems like `[8.4.0,8.15.1]` should be `[8.4.0,8.11.4]`

[2019-06-12 17:42] mmedemaskytap opened #78 "Erroneous CVE?"
audit js is reporting a CVE for node 10.15.3

Severity: High [CVE-2019-5737]  Uncontrolled Resource Consumption ("Resource Exhaustion")
 https://ossindex.sonatype.org/vuln/39ead3ac-005f-4bd2-b912-563da75b526d

looks like this might be a false positive as it affects 'Up to (excluding) 10.15.2'

[2019-06-12 18:42] ken-duck commented on #78
Hmm. This is curious. Looking at the OSSI data I see the version ranges look correct, and the REST API is returning correctly:

[2019-06-12 21:13] mmedemaskytap commented on #78
Looks like it isn't being flagged anymore, thanks!

[2019-06-13 14:47] ken-duck commented on #78
Odd. Glad it's working. Its possible that we found (or were notified) of the problem earlier and made a fix that rolled through just around the time you wrote. Thanks for letting us know!

[2019-06-14 00:05] scottbrady commented on #77
The Node.js blog post indicates that CVE-2018-1000168 impacts Node.js 8.4.x and higher and was fixed in 8.11.3.

https://nodejs.org/en/blog/vulnerability/june-2018-security-releases/

I would expect the vulnerability entry to contain `[8.4.0,8.11.2]`.

It looks like the NVD entry also contains an incorrect version range:

[code]

https://nvd.nist.gov/vuln/detail/CVE-2018-1000168

I'm guessing the

[2019-06-14 00:44] ken-duck commented on #77
The reasoning makes sense, and we can definitely override the data we get from NVD. I will endeavour to make the changes tonight. It will likely take a day or so for the changes to wend their way through our processing pipeline.

Thanks for letting us know!

[2019-06-17 04:00] ken-duck commented on #77
This appears to be resolved: https://ossindex.sonatype.org/vuln/8a0c1adf-93c6-4986-96af-9b744b2eda07

[2019-06-17 04:00] #77 closed

[2019-06-17 17:11] mmedemaskytap commented on #77
Thank you!!

[2019-06-24 17:13] mcostelloskytap commented on #78
It appears CVE-2019-5737 (https://ossindex.sonatype.org/vuln/39ead3ac-005f-4bd2-b912-563da75b526d) is still being falsely reported for node 10.15.3 and 8.15.1 (and possibly others). This reappeared in our reports on Jun 24 after several days of not being flagged.

https://ossindex.sonatype.org/component/pkg:nuget/nodejs@10.15.3 https://ossindex.sonatype.org/component/pkg:nuget/nodejs@8.15.1

Can t

[2019-06-24 18:56] ken-duck commented on #78
Dang it. I am on it.

[2019-06-24 18:58] ken-duck commented on #78
Or server is actually down at the moment (internal problems that we are working on). I wonder if this is some sort of strange reaction because of that; perhaps some old cached data being used?

I will dig some more.

[2019-06-25 03:12] ken-duck commented on #78
We definitely had a data regression. I have re-processed some data and the valid results should find their way into the public database soon. I am going to do some poking around to see if I can figure out how it regressed.

[2019-06-25 16:42] mcostelloskytap commented on #78
Thank you for the update and jumping on this so quickly!

[2019-07-08 19:57] mcostelloskytap commented on #78
It looks like this was fixed for a while and then reappeared again around July 4.

[2019-07-17 05:06] ken-duck commented on #78
Turns out our NVD feed was overriding my changes. I have done a fair rewrite/refactor of some of the importer and I expect this should not happen again. The versions should be repaired and published again tomorrow.

There is a side effect of this change, which is that CVEs which are updated in NVD will not necessarily update properly. I will be doing further updates to make it so we can retain our

[2019-07-17 16:03] mmedemaskytap commented on #78
Thank you! :D

[2019-08-18 20:55] ken-duck commented on #74
At long last it has been replaced. Sorry for the delay: https://github.com/OSSIndex/auditjs/releases/tag/3.2.1

I have been working on a larger update which would have included this fix, but realized that it was dragging on and "enough was enough".

Also upgraded `npm` which finally provided a fix version for their vulnerabilities.

[2019-08-18 20:55] #74 closed

[2019-08-19 13:04] bjorngi opened #79 "3.2.1 is not creating cache folder if it does not exist"
### 3.1.1 w/o cache folder created
[code]

3.2.1 works with cache folder created from 3.1.1, but if cache folder is removed it wont create a new one.

### 3.2.1 w/o cache folder created
[code]

[2019-08-19 13:07] bjorngi commented on #79
Reproduction: `rm -rf /tmp/auditjs` and run `auditjs -l debug --cacheDir /tmp/auditjs` from project folder.

[2019-08-19 13:48] ken-duck commented on #79
Oh duh. I will fix this today (soon). Thanks for letting me know.

[2019-08-19 13:58] ken-duck commented on #79
Fixed. I will be running a few additional tests before I close this, but 3.2.2 has been published to npm.

[2019-08-19 14:04] bjorngi commented on #79
Great!
Thanks for the great library and quick response time.

Putting it in the `put` function would check if the folder exists for every addition to the cache. Maybe it should be checked once on load instead?

[2019-08-19 16:09] ken-duck commented on #79
You are absolutely correct, that is preferable. I panicked ;)

I'll have a cleaner version out shortly (now that I am out of meetings).

[2019-08-19 16:13] bjorngi commented on #79
No problem!

I'm very glad for the quickfix. Finally building green again 👍☑

[2019-08-22 06:17] lifenstein opened #80 "Unable to check packages specified by GitHub path in bower.json"
A specification in bower.json like `"polymer": "Polymer/polymer#^3.3.0"` results in the error "Warning: Unsupported version for 'polymer'". If I remove everything except the version number, it is correctly processed.

[2019-08-23 15:06] ken-duck commented on #80
Hmm. Curious. I will test drive this today.

[2019-08-23 15:13] ken-duck commented on #80
Could you give me a small bower.json specification with this dependency inside it. I would like to see the exact way it is represented, cause I have never seen that before. Is it something like this?:

[code]

[2019-08-25 23:34] lifenstein commented on #80
The first one results in

while the second one gives

`Polymer/polymer` is essentially `<organisation>/<repo>` - it's the GitHub repo that has the code for the package. This means that it doesn't have to be on the NPM registry, although in this case it is.

It is useful to ensure you're pointing at what you think you're pointing to, in case the registry's package name gets reused by something else

[2019-08-25 23:35] lifenstein commented on #80
To answer your question directly @ken-duck, it is the former.

[2019-08-25 23:38] lifenstein commented on #80
Oh and it seems the issue is not just with monorepos, which the Polymer one is. This will also reproduce the issue:

[code]

[2019-08-25 23:41] ken-duck commented on #80
Ya, auditjs does not currently support that format, but it should be pretty easy to do. We can report vulnerabilities against repositories which do not necessarily need packages, auditjs just doesn't know about it.

I'll try and add support in this week.

[2019-08-29 18:16] aefhm commented on #74
@ken-duck Nice!

[2019-09-16 01:10] rrupesh opened #81 "Support for json output"
Looked at the documentation. I couldn't find a way to generate json output from auditjs run. Kindly consider adding json output support.

[2019-09-18 17:37] ken-duck commented on #80
Things have been a bit crazy lately, including a bunch of PTO, but I should be able to take a whack at this one tomorrow.

[2019-09-19 19:43] #79 closed

[2019-09-19 19:45] ken-duck commented on #78
It looks like this has properly been resolved. I am seeing good data still. Fingers crossed :|

[2019-09-19 19:45] #78 closed

[2019-09-19 19:50] ken-duck commented on #81
I think this is a good idea. I much prefer JSON myself. Do you have a suggestion for a format? Not sure if there is a common format that folks expect for this sort of thing. I can invent my own, but may as well have an ask first (and I will look around a bit as well).

Meanwhile a workaround could be using this module against our XML output (or something similar): https://www.npmjs.com/package/xml

[2019-09-20 02:38] ken-duck commented on #80
Try out the new release. It should work, so long as semantic versions are used in relation to the github repositories. We cannot work against arbitrary tags, named branches, or master at this time.

[2019-09-24 17:19] KevinFauth commented on #73
Hello! I'm trying to figure out why AuditJS isn't returning any known vulnerabilities on npm packages.

I'm looking at `subtext` package from npm.

https://www.npmjs.com/advisories/1168/versions

https://ossindex.sonatype.org/component/pkg:npm/subtext@6.0.12

I can't seem to find any packages that are reported as vulnerable in npm in ossindex. What am I missing?

[2019-09-24 18:23] ken-duck commented on #73
Hmm. Two thoughts:

1. The database has well into the thousands of vulnerabilities against npm

[2019-09-24 18:31] ken-duck commented on #73
Yup, a bug caused our processing pipeline to get backed up. This affected a portion of our research - we have several research streams. I will fix the problem, but it might take a little time for the missed vulnerabilities to make it through the research queue. We will be expediting the stalled out streams, though, so I hope to see the data in before the end of the week.

Thanks very much for lett

[2019-09-24 18:32] KevinFauth commented on #73
Awesome - I appreciate the quick response

[2019-10-01 00:47] lifenstein commented on #80
Thanks Ken, it's not erroring anymore for the specification format in my examples above.

In our usecase, we are actually pointing to the master branches of a bunch of dependencies that we manage ourselves. This lets us update the dependencies and deploy the dependent apps by re-running the deployment scripts, without having to worry about updating 20 different packages one by one with version bum

[2019-10-01 03:40] ken-duck commented on #80
That's great to hear. Getting OSS Index to work against branches will be a significantly harder problem. We are thinking about ways to do that, but I suspect it will be rather a longer time coming. There are significant hurdles, alas.

[2019-10-01 04:28] #80 closed

[2019-10-03 18:13] jdillon opened #82 "Add User-Agent for requests to OSSI"
Please update the HTTP request to OSSI to include a reasonable User-Agent for audit.js.

[2019-12-23 18:44] sonatype-depshield[bot] opened #83 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash._getnative:3.9.1"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash._getnative:3.9.1](https://ossindex.sonatype.org/component/pkg:npm/lodash._getnative@3.9.1) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)

<hr />

**Occurrences**

lodash._getn

[2019-12-23 18:44] sonatype-depshield[bot] opened #84 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.restparam:3.6.1"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.restparam:3.6.1](https://ossindex.sonatype.org/component/pkg:npm/lodash.restparam@3.6.1) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)

<hr />

**Occurrences**

lodash.restpar

[2019-12-23 18:44] sonatype-depshield[bot] opened #85 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash._bindcallback:3.0.1"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash._bindcallback:3.0.1](https://ossindex.sonatype.org/component/pkg:npm/lodash._bindcallback@3.0.1) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)

<hr />

**Occurrences**

lodash

[2019-12-23 18:44] sonatype-depshield[bot] opened #86 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.union:4.6.0"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.union:4.6.0](https://ossindex.sonatype.org/component/pkg:npm/lodash.union@4.6.0) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)

<hr />

**Occurrences**

lodash.union:4.6.0 is

[2019-12-23 18:44] sonatype-depshield[bot] opened #87 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash._createcache:3.1.2"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash._createcache:3.1.2](https://ossindex.sonatype.org/component/pkg:npm/lodash._createcache@3.1.2) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)

<hr />

**Occurrences**

lodash._

[2019-12-23 18:45] sonatype-depshield[bot] opened #88 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.clonedeep:4.5.0"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.clonedeep:4.5.0](https://ossindex.sonatype.org/component/pkg:npm/lodash.clonedeep@4.5.0) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)
- (CVSS **6.5**) [[CVE-2018-3721] lodash

[2019-12-23 18:45] sonatype-depshield[bot] opened #89 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash._baseindexof:3.1.0"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash._baseindexof:3.1.0](https://ossindex.sonatype.org/component/pkg:npm/lodash._baseindexof@3.1.0) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)

<hr />

**Occurrences**

lodash._

[2019-12-23 18:45] sonatype-depshield[bot] opened #90 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.uniq:4.5.0"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.uniq:4.5.0](https://ossindex.sonatype.org/component/pkg:npm/lodash.uniq@4.5.0) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)
- (CVSS **6.5**) [[CVE-2018-3721] lodash node modu

[2019-12-23 18:45] sonatype-depshield[bot] opened #91 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash._root:3.0.1"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash._root:3.0.1](https://ossindex.sonatype.org/component/pkg:npm/lodash._root@3.0.1) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)

<hr />

**Occurrences**

lodash._root:3.0.1 is

[2019-12-23 18:45] sonatype-depshield[bot] opened #92 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash._cacheindexof:3.0.2"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash._cacheindexof:3.0.2](https://ossindex.sonatype.org/component/pkg:npm/lodash._cacheindexof@3.0.2) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)

<hr />

**Occurrences**

lodash

[2019-12-24 03:57] DarthHater commented on #81
@rrupesh I've got a WIP branch of something that does this, go ahead and check it out at #96 .

Not the most clear build local steps yet in the README but:

[code]

That should test the app at least locally on itself, and give you an idea of how it outputs.

If you want to do this in a different directory (test your own app):

`node /path/to/auditjs/bin/index.js ossi --json`

Would love to know yo

[2019-12-30 17:58] DarthHater commented on #81
:tada: This issue has been resolved in version 4.0.1-alpha.5 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-alpha.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-02 16:16] DarthHater commented on #82
Hi there @jdillon , in the `alpha` branch of the auditjs 4.0.0 stuff, I've crafted this up for a User Agent:

[code]

It'll drag in the AuditJS version, and then a lil bit of info on node and the system. That ok by you?

[2020-01-02 16:18] DarthHater commented on #66
@DanielRuf are you talking about for when we resolve dependencies? @ajurgenson55 @allenhsieh and I took a bit of a different path with AuditJS 4.0.0, we are using `read-installed` which is the lib npm uses to resolve what has been installed. You can see this on the `alpha` branch.

[2020-01-02 17:38] DanielRuf commented on #66
Exactly. I would have to take a look again to give some more feedback.

[2020-01-02 18:09] DarthHater commented on #66
Word up! Take a gander at our branch. I have https://github.com/sonatype-nexus-community/auditjs/tree/FixReadInstalled where I got it working as I wanted it to. This got us around having to use the npm cli stuff, and it's the lib that the npm founder wrote to actually resolve stuff, so it feels right! Would love feedback.

[2020-01-10 18:59] ajurgenson55 opened #100 "Can't scroll in console while scan is running"
I think the spinner might be refreshing and overwriting the last line of console output

This means it resets the scroll bar of the terminal to the new line even though it appears like its not changing, snapping back any scroll bar movement making it impossible

[2020-01-10 21:36] bhamail opened #101 "Alpo Time - use auditjs to scan auditjs during CI"
Update the CI config of the auditjs project to run auditjs against itself and report any vulnerabilities found. CI should fail if vulnerabilities are found.

Yummy dog food.

cc @bhamail / @DarthHater

[2020-01-10 22:35] DarthHater commented on #100
This is indeed what is happening. What does this prevent?

[2020-01-10 22:36] DarthHater commented on #101
GO FOR IT! This is definitely something we want to do!

[2020-01-10 22:43] ajurgenson55 commented on #100
Prevents you from looking at previous terminal output while a scan is going, doesn't affect functionality just usability of the terminal

[2020-01-11 03:03] ajurgenson55 commented on #101
Well all the dependencies are there already so it should be light, I guess that means the previous release scans the next release.

Wondering if config for circle ci can be persistent in the SaaS version

[2020-01-13 18:14] ajurgenson55 opened #103 "Console output hanging on polling when tested against https URL"
Decided to test against BMA environments to make sure auditjs-iq functions against a separate https iq server endpoint

It looks like it is hanging on the polling and not getting confirmation back from the IQ Server that the scan is done

`ajurgenson@ArtieSonaDell:~/test-apps/Angular-JumpStart$ auditjs iq -a auditjs-uat -s build

✔ Starting application
✔ Getting coordinates for Nexus IQ Server
✔ A

[2020-01-13 18:21] ajurgenson55 opened #104 "Implement a Default and Configurable Timeout"
Not related to any particular issue, but we have areas of the code where if a problem occurs the program continues indefinitely.

At some point we should implement either a hard timeout for running the whole program (eh) or preferably identify where those areas are (definitely the polling of the IQ Server for results) and cut those off at a certain point by default, so that is something does timeo

[2020-01-13 20:11] ajurgenson55 commented on #103
Looks like it's not related to http vs https but also getting the same issue from an http internal IP on an AWS ec2 instance with the same behavior.

[code]

Looks like we don't have debug output in polling function of the request service itself, only right before the initial polling call.  Will work on getting the actual API call and testing it manually to see what's going on

[2020-01-13 20:31] ajurgenson55 commented on #103
[code]

Added the logging for the args.server param that gets passed into polling and it looks like it still uses the default localhost url for polling which would explain why its hanging.  Should be a quick fix to pass the configured server url into the polling section

[2020-01-13 20:45] ajurgenson55 commented on #103
Works with the server url explicitly specified so it looks like the issue is that it's not picking up the config in the file for the polling

[2020-01-15 01:45] ajurgenson55 opened #105 "Fails out w/ a trailing forward slash on a server parameter from command line"
[code]

works without the trailing slash

[2020-01-20 17:23] allenhsieh commented on #83
Closing because lodash no longer a dependency

[2020-01-20 17:23] #83 closed

[2020-01-20 17:23] allenhsieh commented on #84
Closing because lodash no longer a dependency

[2020-01-20 17:23] #84 closed

[2020-01-20 17:23] allenhsieh commented on #85
Closing because lodash no longer a dependency

[2020-01-20 17:23] #85 closed

[2020-01-20 17:24] allenhsieh commented on #86
Closing because lodash no longer a dependency

[2020-01-20 17:24] #86 closed

[2020-01-20 17:27] allenhsieh commented on #89
Closing because lodash no longer a dependency

[2020-01-20 17:27] #89 closed

[2020-01-20 17:27] allenhsieh commented on #90
Closing because lodash no longer a dependency

[2020-01-20 17:27] #90 closed

[2020-01-20 17:27] allenhsieh commented on #91
Closing because lodash no longer a dependency

[2020-01-20 17:27] #91 closed

[2020-01-20 17:27] allenhsieh commented on #92
Closing because lodash no longer a dependency

[2020-01-20 17:27] #92 closed

[2020-01-21 19:55] allenhsieh opened #107 "For IQ Server requests, combine host and resultURL inside RequestService"
`"This is a great catch, but we probably should just pass in the `resultURL` and then do the append of the host inside the RequestService, to likely avoid some stupid bug that Jeffry created like this in the near future :)"`
_Originally posted by @DarthHater in https://github.com/sonatype-nexus-community/auditjs/pull/106_

[2020-01-21 20:04] DarthHater commented on #101
:tada: This issue has been resolved in version 4.0.1-alpha.11 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-alpha.11)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-21 20:04] DarthHater commented on #103
:tada: This issue has been resolved in version 4.0.1-alpha.11 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-alpha.11)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-21 23:09] allenhsieh commented on #103
Resolved in https://github.com/sonatype-nexus-community/auditjs/commit/e31ee2ac507c0bf97d31d7263610ff8a9ded2d66

[2020-01-21 23:09] #103 closed

[2020-01-21 23:13] allenhsieh commented on #100
I've done some digging through Ora documentation and looked at other spinners -- This is expected behavior more or less. Should we close this issue or would you want to yank the spinner for a more static visual indicator?

[2020-01-22 06:36] ajurgenson55 commented on #100
Yeah this would be more work to figure out an alternative than it's worth, closing it out

[2020-01-22 06:36] #100 closed

[2020-01-22 16:56] allenhsieh opened #110 "If host is set as a command line argument, it is ignored and pulled from config file"
![image](https://user-images.githubusercontent.com/10136383/72915422-1da18480-3cf5-11ea-94ca-9ddab6e4e46c.png)

Currently the command line argument for host does not correctly change the host being used. Possible fix: if/else statement to see if host is entered as a command line argument, if it is then use command line host.

[2020-01-22 22:43] DarthHater opened #112 "Verify Bower scanning works with IQ and OSS Index in 4.0.x"
Simple issue, make sure that Bower scanning works with OSS Index and as well with IQ, likely with IQ we will need to create our own SBOM (which should be fairly easy), but let's make sure we do this before we go mainline.

[2020-01-22 22:45] DarthHater opened #113 "Allow someone to override the location of the package.json or bower.json"
Some users might want to run `auditjs` on files in different locations. This may take some thought, as we scan the `node_modules` at least for the package.json approach, so we will need to either inform them that this should exist (we scan installed things). For Bower this is likely quite easy.

[2020-01-22 22:47] DarthHater opened #114 "Allow someone to specify which dependencies they want to scan"
This is likely something we won't implement, since we are now using `read-installed` which scans whatever you have installed, and we have provided an option to not scan `devDependencies` which `read-installed` gave us. It is more likely we should update the README to reflect reality and inform users that if they want those scanned, they should install them!

[2020-01-22 22:50] DarthHater opened #115 "Ability to create a junit report from results"
Release 3.x had the ability to create JUnit reports, so we could replicate this in 4.0.x, the question is do we need to? We've provided the ability to export to JSON for OSS Index and that might be sufficient to pipe to another application that creates junit reports?

[2020-01-22 22:52] ButterB0wl opened #116 "Config is not overridden by server command line argument"
[code]

But it looks like only if you specify the default localhost value does it use the config value, otherwise it fails out as expected:

[code]

And then specifying the default localhost value with a different password end up working as expected:

[code]

[2020-01-22 22:53] DarthHater opened #117 "Suppress Error Exit Code"
This I do not believe we need to implement as you can do this easily with bash (and I'm assuming with Windows as well):

`auditjs ossi || true`

That should suppress any exit code other than 0 and coerce it into a 0 exit code.

I do not want to implement this as it could create some hairy code situations, and I like the idea that someone has to be a bit more explicit about ignoring it, rather than

[2020-01-22 22:55] DarthHater opened #118 "Allow for someone to specify a different cache directory for AuditJS"
This I do not THINK we need to implement but it may be that we do. I could potentially see a use case of setting it to `/tmp` or some other directory in systems where the user does not have a lot of access (mostly for CI/CD potentially)?

Would love to hear others feedback on this!

[2020-01-22 22:57] DarthHater opened #119 "Allow someone to specify log level for AuditJS"
I do not think we totally need to do this and allow for someone to go very granular on this as we've provided a `verbose` flag, and by default log to files where someone can go to get a lot of the log information. Would love for feedback from the community on this!

[2020-01-22 22:58] DarthHater opened #120 "Provide example repo with how to use AuditJS in CircleCI"
Second verse, same as the first. Let's provide an example repo so someone can see it working in action, and copy-pasta to their own delight :)

[2020-01-22 22:59] DarthHater opened #121 "Provide example repo for AuditJS use in TravisCI"
Second verse, same as the first. Let's provide an example repo so someone can see it working in action, and copy-pasta to their own delight :)

Related to #120

[2020-01-22 22:59] ajurgenson55 opened #122 "Add recursive scan of file system outside of node_modules"
The third party API for IQ now accepts sha1 hashes

Plan is to do an async recursive scan concurrently with any processes that occur before the submission of the cyclonedx bom to IQ Server, at which point we can append all the hashes and get package level results for node-managed deps, and file level implications for everything outside of it

Should be toggled by a flag as a expect this will incre

[2020-01-22 23:00] DarthHater opened #123 "Provide example repo with how to use AuditJS in GitHub Actions"
Second verse, same as the first. Let's provide an example repo so someone can see it working in action, and copy-pasta to their own delight :)

Related to #121 #120

[2020-01-22 23:01] DarthHater opened #124 "Provide example of how to use AuditJS in Jenkins Pipeline, etc... in README"
In our README provide an example of how to use `auditjs` in Jenkins or other similar on prem solutions for others to copy pasta and have fun with!

[2020-01-22 23:06] DarthHater opened #125 "Investigate whether read-installed would be a better solution for scanning yarn projects"
Right now for yarn we iterate the `yarn.lock` file and get our package list from in there. This has a drawback currently that it is looking at EVERY dependency, and `read-installed` has the ability to let us only look at the ones that we choose (you can exclude dev deps for example). As well, an SBOM may or may not be created in the same fashion for `yarn` so we could end up with inconsistent resu

[2020-01-22 23:07] DarthHater opened #126 "Determine if we need to implement npm shrinkwrap functionality"
Since `npm shrinkwrap` is kinda old at this time, do we really need to implement this? It would appear we do not, but let's make sure, as we could do some special handling for this case.

[2020-01-22 23:09] DarthHater opened #127 "Release auditjs 4.0.0 to beta channel in npm"
You know it!

[2020-01-22 23:11] #101 closed

[2020-01-22 23:12] DarthHater commented on #82
We've done this work, and I believe it's fine. Going to close this issue for now (reopen if you'd like @jdillon )

[2020-01-22 23:12] #82 closed

[2020-01-22 23:13] DarthHater commented on #81
Going to close this for now, feel free to reopen if it doesn't meet your needs, would love to have the conversation!

[2020-01-22 23:13] #81 closed

[2020-01-22 23:13] DarthHater commented on #70
I believe this can be closed, and we have yarn support in 4.0.x (see #125 as feedback there would be very useful!)

[2020-01-22 23:13] #70 closed

[2020-01-22 23:14] ajurgenson55 commented on #20
Closing this as we've rewritten the codebase, reopen if this is still an issue

[2020-01-22 23:14] #20 closed

[2020-01-22 23:16] ajurgenson55 commented on #63
We have implemented semver auto releases to npmjs with circleci

[2020-01-22 23:16] #63 closed

[2020-01-22 23:19] ajurgenson55 commented on #66
Closing for now, check it out and see if it works for you.  feel free to reopen a new issue if you find something specific with how we use read-installed to determine the dependencies.

[2020-01-22 23:19] #66 closed

[2020-01-22 23:23] ajurgenson55 commented on #34
Closing, we will be implementing file level scanning with IQ, and for OSSI i think we will be sticking to auditing installed packages

[2020-01-22 23:23] #34 closed

[2020-01-22 23:25] ajurgenson55 commented on #28
Closing, if this is still a need reopen a new issue

[2020-01-22 23:25] #28 closed

[2020-01-22 23:25] ajurgenson55 commented on #52
This should not be an issue with the current read-installed refactor

[2020-01-22 23:25] #52 closed

[2020-01-22 23:29] ajurgenson55 commented on #36
We opened a new issue to re-implement junit testing and if/when we prioritize it, we will make sure whitelisted items are skipped

[2020-01-22 23:29] #36 closed

[2020-01-23 00:05] DarthHater opened #128 "Whitelist by command line for vulnerabilities"
We already provide the ability to use a file for whitelisting vulnerabilities, do we also need a command line option? My vote is currently no, as it adds code complexity with very little added value, we should encourage use of the checked in file.

[2020-01-23 00:20] allenhsieh commented on #107
Closed in #111

[2020-01-23 00:20] #107 closed

[2020-01-23 00:20] allenhsieh commented on #110
Closed in #111

[2020-01-23 00:20] #110 closed

[2020-01-23 01:16] DarthHater commented on #110
:tada: This issue has been resolved in version 4.0.1-alpha.12 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-alpha.12)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-23 01:16] DarthHater commented on #105
:tada: This issue has been resolved in version 4.0.1-alpha.12 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-alpha.12)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-23 01:17] #105 closed

[2020-01-23 01:29] DarthHater commented on #110
:tada: This issue has been resolved in version 4.0.1-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-23 01:29] DarthHater commented on #105
:tada: This issue has been resolved in version 4.0.1-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-23 01:29] DarthHater commented on #101
:tada: This issue has been resolved in version 4.0.1-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-23 01:29] DarthHater commented on #103
:tada: This issue has been resolved in version 4.0.1-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-23 01:29] DarthHater commented on #81
:tada: This issue has been resolved in version 4.0.1-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-23 01:31] ajurgenson55 commented on #104
Implemented in #129 and tested

[2020-01-23 01:31] #104 closed

[2020-01-23 01:45] DarthHater commented on #127
Beta channel created, and this is now done. Released to npm as `4.0.1-beta-1` and now counting!

[2020-01-23 01:45] #127 closed

[2020-01-23 02:54] ajurgenson55 commented on #125
The cyclonedx bom works using read-installed for yarn projects using IQ yeah?  Why did we originally iterate through the yarn.lock, was the read-installed ossi implementation not working at first?

[2020-01-23 03:40] DarthHater commented on #115
I did some quick Googling and did not see any real clean ways to do JUnit XML format. I wrote it up fairly quickly in #130 , and if the StackOverflow answer on format can be trusted, this should be sufficient.

Someone can take the work from #130 and do `auditjs ossi --xml > file.xml` and save that file as their test results, I believe. We could create our own file too, but I've kept it simple for

[2020-01-23 03:41] DarthHater opened #131 "Write Unit Tests to cover IQRequestService"
Oh the joys of mocking an http server. This class is really lacking in tests, and we should just bite the bullet and write them. It SHOULD be easy to do, even the polling, but you know, just requires us to like write the code.

[2020-01-23 03:54] DarthHater commented on #125
I am PRETTY sure we stole the yarn impl from 3.x and moved on. Then we found read-installed, and got it working for npm. You are correct that read-installed would be called for yarn, making it disjointed at the moment. So the options are: write an SBOM thing that uses the output of how we currently get yarn results, or switch our yarn implementation to use read-installed as well (making it virtual

[2020-01-23 09:46] Iletee opened #132 "[BUG] Fails to start iq scan"
**Description**
Running auditjs iq results in a crash and burn due to 'could not instantiate muncher'

 ________  ___  ___  ________  ___  _________      ___  ________
|\   __  \|\  \|\  \|\   ___ \|\  \|\___   ___\   |\  \|\   ____\
\ \  \|\  \ \  \\\  \ \  \_|\ \ \  \|___ \  \_|   \ \  \ \  \___|_
 \ \   __  \ \  \\\  \ \  \ \\ \ \  \   \ \  \  __ \ \  \ \_____  \
  \ \  \ \  \ \  \\\  \ \  \_\\

[2020-01-23 10:19] hboutemy commented on #132
FYI, exact same issue for me (same OS, npm 6.13.4)

[2020-01-23 14:28] ajurgenson55 commented on #132
Are you guys running it in an npm project?

[2020-01-23 14:58] ajurgenson55 commented on #132
Means its not passing this check:

[code]

just want to confirm there's a package-lock.json in the directory you're scanning before troubleshooting the function in your environments

[2020-01-23 14:58] ajurgenson55 commented on #132
I'll change the console output as well so it's clearer when you're in an invalid directory

[2020-01-23 15:01] Iletee commented on #132
Duh - that was it - i thought I was running it in the project root - turns
out i was one directory short. Some more descriptive docs would be good to
prevent this

On Thu, 23 Jan 2020 at 14:58, Artemie Jurgenson <notifications@github.com>
wrote:

[2020-01-23 16:10] DarthHater commented on #132
@Iletee @ajurgenson55 addressed this in #133 , should get released to beta fairly quickly :)

[2020-01-23 16:18] hboutemy commented on #132
I confirm I was not in a js project, just trying to launch first
Now, the message is better:
[code]

[2020-01-23 16:23] hboutemy commented on #132
continuing my basic user test: launching `auditjs` on clone of https://github.com/sonatype-nexus-community/search-maven-org
the output is
[code]

surprising end...

[2020-01-23 16:28] hboutemy commented on #132
1151 components found in audijs ossi mode
0 component (and hence no violation...) in auditjs iq mode

there is an issue

[2020-01-23 16:35] DarthHater commented on #132
@hboutemy there may be, going to need more information on how you ran things, what directory did you run from, etc...

addressed in: https://github.com/sonatype-nexus-community/auditjs/commit/e1a9fc51360700d722baccc0deadf6025c3cf2d0 , will make it to beta shortly.

[2020-01-23 16:39] ajurgenson55 commented on #132
@Iletee fixed the invalid project directory UX with #133 and it's pushed to beta, check it out :)

@hboutemy what's the command you're running for IQ that you're getting 0 components?

something like `auditjs iq -a search-maven-org` will work (if you ran `auditjs config`)

I agree there should be some kind of message is ossi or iq isn't specified, will add it shortly

[2020-01-23 16:41] DarthHater commented on #132
@ajurgenson55 the command message missing is fixed in https://github.com/sonatype-nexus-community/auditjs/commit/e1a9fc51360700d722baccc0deadf6025c3cf2d0

@hboutemy going to need more information, after installing `auditjs` like `npm i -g auditjs@beta`,

[code]

The report shows the amount of components I expect to see (23 in this case).

[2020-01-23 17:29] Iletee opened #134 "[BUG] Fails to complete a scan"
**Description**
Running a scan on a project fails - an error message is produced and scan never completes

Using a existing appid in my IQ server

[code]

**To reproduce**
Git Clone this: https://github.com/bkimminich/juice-shop
Install auditjs & config with iq
Running auditjs iq
Hangs and crashes

**Environment**
See issue number #132

[2020-01-23 17:30] Iletee commented on #132
I've opened #134 to address the next issue. My initial problem is solved but leaving open for follow on debugging

[2020-01-23 17:54] ajurgenson55 commented on #132
Fixed by #133

[2020-01-23 17:54] #132 closed

[2020-01-23 18:36] DarthHater commented on #134
This ended up being that @Iletee had an older version of nodejs, I believe 8.x era. @allenhsieh is looking at it and seeing if we have a quick fix, otherwise we will update the package.json to reflect we only support from node 10.x forward

[2020-01-23 19:03] DarthHater commented on #125
Ok so taking a look, yarn currently looks consistent despite using a slightly different approach, we saw this specifically with @hboutemy as we looked at #132 , not voting to close this quite yet but feeling a bit better as his (and my) results were consistent.

[2020-01-23 19:20] DarthHater commented on #134
Well, @allenhsieh is an awesome person and figured this out. `URL` is not a global object in node 8.x, that didn't happen till 10.x, so we are testing explicitly importing it so we can support 8.x forward. Doubtful we'd go further back than 8.x, since 8.x LTS maintenance just ended, but posting this comment for future posterity.

I believe @allenhsieh plans on setting `engines` in our `package.jso

[2020-01-23 20:01] DarthHater commented on #134
:tada: This issue has been resolved in version 4.0.1-beta.13 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-beta.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-23 20:03] DarthHater commented on #134
@Iletee we made changes to explicitly support node 8.x forward (thanks to @allenhsieh again), you can retest and close this at your leisure.

[2020-01-23 20:12] DarthHater commented on #115
:tada: This issue has been resolved in version 4.0.1-alpha.15 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-alpha.15)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-23 21:08] DarthHater commented on #125
I went ahead in #136 and got rid of any yarn specific code, as testing this seems to have worked.

[2020-01-23 21:30] DarthHater commented on #125
:tada: This issue has been resolved in version 4.0.1-alpha.16 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-alpha.16)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-23 22:09] #134 closed

[2020-01-23 22:13] ajurgenson55 commented on #117
I'm gonna say nah on this one, not worth the implementation effort when linux does it

[2020-01-23 22:13] #117 closed

[2020-01-23 22:39] DarthHater commented on #120
:tada: This issue has been resolved in version 4.0.1-alpha.17 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-alpha.17)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-23 22:46] DarthHater commented on #121
Implemented in beta and alpha

[2020-01-23 22:46] #121 closed

[2020-01-23 22:46] DarthHater commented on #123
Implemented in beta and alpha channel.

[2020-01-23 22:46] #123 closed

[2020-01-23 22:47] #125 closed

[2020-01-23 22:48] ajurgenson55 commented on #113
Not sure if the use case exists except in projects that have nested node_modules, but i don't think we should combine multiple node_modules reports as you wouldn't be able to tell where they're from since the occurrences are purls in IQ and OSS wouldn't tell you

Lots of effort that would open up a can of worms, additionally it will be covered by #122 for IQ

[2020-01-23 22:48] #113 closed

[2020-01-23 22:51] ajurgenson55 commented on #114
Yeah, since we do it based on what's installed i think that is the most accurate portrayal.  If they want to scan other dependency categories just install them and run the scans.

[2020-01-23 22:51] #114 closed

[2020-01-23 22:51] DarthHater commented on #115
Closing this for now as we saw this work in Jenkins when testing. If you have a need to have auditjs save the file for you, please open an issue specific to that!

[2020-01-23 22:51] #115 closed

[2020-01-23 22:59] ButterB0wl opened #138 "Figure out IQ Output"
Currently the IQ scan get the exit code and links to the report as the only output.

At first this can be things like number of policy violations and the like that we can pull directly from data already in the program

Later we can determine if we want to add stuff like hitting the remediation API endpoint to get recommended versions which would require more work

Perhaps use the usability testing

[2020-01-23 23:26] DarthHater commented on #138
I think this could be for a 4.1 milestone, do you think so?

[2020-01-23 23:57] DarthHater commented on #131
:tada: This issue has been resolved in version 4.0.1-alpha.18 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-alpha.18)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-24 00:01] DarthHater commented on #131
Right now, we have covered happy paths, we should write a follow up issue for the negative paths, etc... but closing this in favor of more granular issues.

[2020-01-24 00:01] #131 closed

[2020-01-24 00:02] #120 closed

[2020-01-24 19:45] allenhsieh opened #140 "Decide to add Istanbul for Mocha code coverage or switch to Jest testing framework"
After doing some research we're going to have to decide to switch everything to Jest or to add on Instanbul as a devDep

[2020-01-24 22:14] DarthHater commented on #140
I am fine with Instanbul and Mocha to be honest. I don't really know per se what jest would add in comparison? Is it just the newest hot stuff for testing or are there real benefits to adding it?

[2020-01-29 22:44] ajurgenson55 commented on #112
The bower scan currently works with the OSS index flag, but it does not include dev dependencies even if the --dev flag is specified

I saw the method getSbomFromCommand was not implemented for bower, and the dependencies get installed in a bower_components folder instead of a node_modules

So i attempted to use the npmList function to call the cyclonedx command in the bower project directory, and

[2020-02-03 02:54] ajurgenson55 commented on #126
So as far as I can tell, shrinkwrap isn't going to affect what is in the node_modules folder which is what we are going through anyway.  It replaces the package-lock.json but since we're checking based on node_modules i think we're good here.

[2020-02-03 03:09] DarthHater commented on #126
Good to hear @ajurgenson55 , that was my thought but I wanted a second opinion. I'll leave this open for a bit in case anyone chimes in with some more info.

[2020-02-03 07:45] ButterB0wl commented on #116
finally figured this out.  It's because of this function:
https://github.com/sonatype-nexus-community/auditjs/blob/beta/src/Application/Application.ts#L285

That checks if the default value are there before pulling for the config, so if you specify the default values in the command line it still pulls from the config

And it doesn't look like there's any way to differentiate if a default value was

[2020-02-03 07:49] ButterB0wl commented on #118
This could be a line when you set the OSSI config and just added to the config file

There is no way to persist a change to the location of the entire config directory unless you do something stupid like leave a pointer to the new directory in the ~ directory, so as long as we're only changing the cache directory here that should be pretty simple to do

[2020-02-03 07:51] ButterB0wl commented on #128
Yeah only a psychopath would pass in whitelisted vulns by command line every time when a file is available

A use case I could see is adding a vuln to the whitelisted file through the command line and having it persist, maybe through the ossi config menu?

[2020-02-04 00:04] DarthHater commented on #116
:tada: This issue has been resolved in version 4.0.1-alpha.22 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-alpha.22)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-04 00:21] DarthHater commented on #116
:tada: This issue has been resolved in version 4.0.1-beta.20 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-beta.20)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-05 17:09] #116 closed

[2020-02-05 23:14] allenhsieh commented on #118
in #146

[2020-02-05 23:14] #118 closed

[2020-02-05 23:18] DarthHater commented on #118
:tada: This issue has been resolved in version 4.0.1-alpha.23 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-alpha.23)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-06 17:16] ButterB0wl commented on #119
Do we have any levels besides debug?  because if we don't then the verbose flag is going to cover it.  Although there is a massive amount of output on verbose including the entire SBOM

[2020-02-06 17:28] #140 closed

[2020-02-06 17:28] ButterB0wl commented on #122
Currently occurrences are a blocker for this as file level results are kind of useless without it.

Also need to figure out a way to deal with duplicates for the same component.

I'm of the opinion that we should run the cyclonedx scan for any node_modules we find in a deep scan as that would handle most of the noise, and then do the individual file level results for everything else.

For individu

[2020-02-06 17:29] allenhsieh commented on #140
We had a discussion over Slack voice call 2 weeks ago and decided to stick with Istanbul instead of refactoring all the unit tests

[2020-02-10 22:11] allenhsieh opened #149 "Add ability to clear cache"

[2020-02-10 22:11] allenhsieh opened #150 "Add ability to clear logs"

[2020-02-12 16:51] allenhsieh commented on #150
@DarthHater Ok did some research on this. There are a few options:
1) we can install https://github.com/winstonjs/winston-daily-rotate-file which allows us to set a time limit for the logs
2) We can use the 'w' flag which will over-write the logs each time it is run: https://stackoverflow.com/a/53698990

[2020-02-12 18:49] #150 closed

[2020-02-12 19:38] ButterB0wl opened #155 "Add more helpful output when someone doesn't specify iq/ossi"
So we get the help message if we specify a flag without iq/ossi:
![image](https://user-images.githubusercontent.com/37317224/74370376-fe05f500-4da4-11ea-9f94-ff6a617721ad.png)

However if you put a string in without any hyphens:
![image](https://user-images.githubusercontent.com/37317224/74370496-2e4d9380-4da5-11ea-9b0d-3032d55e3491.png)

Just need to add something to handle that case

[2020-02-12 22:35] DarthHater commented on #155
Oh wonderful, hah. Easy fix, I can grab this likely.

[2020-02-13 14:16] derek-sonatype opened #157 "Error: Unable to submit to Third Party API"
I am on a Windows 10 machine running this in PowerShell. My node version is v12.14.1. I have tried to run auditjs iq -s build -a juiceshop --server http://localhost:8070 -u admin -p admin123 both with Windows Firewall on (allowed apps to run) and with it completely turned off with the same error. Here is the output:

[code]

[.audit-js.combined.log](https://github.com/sonatype-nexus-community/audi

[2020-02-13 16:52] KevinFauth commented on #157
I am getting this error as well (names changed to protect the innocent):
[code]

[2020-02-13 17:00] DarthHater commented on #157
Hi @KevinFauth , @derek-sonatype , thanks for filing an issue, and thanks for trying out the beta, too!

My first thoughts are, what version of Nexus IQ Server are you running? 404 not found on that url would indicate to me that maybe you are running a version that doesn't have the third party API (I think that was previous to version 78, ideally you'd run 83 as the team working on that functional

[2020-02-13 17:04] KevinFauth commented on #157
Ah - that makes sense. It looks like we're on 74. Maybe add the IQ server version as a pre-req to the readme?

In the meantime, I'll see what I can do about getting mine updated to 83 - I'm sure it'll be quick and easy </sarcasm> #corporate

[2020-02-13 17:04] DarthHater commented on #157
@KevinFauth you read my mind, @allenhsieh is on it right now!

I unfortunately do not have any mystical fixes for corporate IT, but my love and blessings are with you :)

[2020-02-13 17:31] DarthHater commented on #150
:tada: This issue has been resolved in version 4.0.1-alpha.30 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-alpha.30)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-13 17:31] DarthHater commented on #157
:tada: This issue has been resolved in version 4.0.1-alpha.30 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-alpha.30)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-13 17:34] DarthHater commented on #157
README update in, thanks again @KevinFauth .

Now, @derek-sonatype I think your issue has something to do with Windows, if you wouldn't mind rerunning beta with more logging so I can get a better look, that would be super helpful. Trying to figure out what went sideways for you!

[2020-02-13 18:27] DarthHater commented on #155
:tada: This issue has been resolved in version 4.0.1-alpha.31 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-alpha.31)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-13 18:42] #155 closed

[2020-02-13 23:22] allenhsieh commented on #149
in: #153

[2020-02-13 23:22] #149 closed

[2020-02-13 23:23] DarthHater commented on #149
:tada: This issue has been resolved in version 4.0.1-alpha.32 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.1-alpha.32)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-14 23:39] ButterB0wl commented on #157
@derek-sonatype do you mind pulling down the latest version of the beta `npm install -g auditjs@beta` and see if it works now?  We've pushed up a few changes

[2020-02-15 01:43] derek-sonatype commented on #157
Fix works. Thank you.

[2020-02-15 01:43] #157 closed

[2020-02-18 22:54] sonatype-depshield[bot] opened #164 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.get:4.4.2"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.get:4.4.2](https://ossindex.sonatype.org/component/pkg:npm/lodash.get@4.4.2) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)
- (CVSS **6.5**) [[CVE-2018-3721] lodash node module

[2020-02-18 23:26] DarthHater commented on #164
No way around this for now, and `sinon` is a dev dependency. Closing!

[2020-02-18 23:26] #164 closed

[2020-02-21 18:44] bhamail opened #167 "[FEATURE] CLI message if zero dependencies found with no --dev flag"
User testing exposed a case where no dependencies where found due to all dependencies being "development" dependencies. Initially it was not clear why no deps where being found.

We should add a message to CLI output: when (dep count == 0) AND (no --dev) flag, add message like:

NOTE: You can include scanning of development dependencies by adding the --dev flag.

cc @bhamail / @DarthHater / @allen

[2020-02-21 19:04] bhamail opened #168 "[BUG] Document required permissions for IQ evaluation"
User testing revealed we need to clarify what permissions/access a user needs to scan with IQ.

Document need for at least "evaluate_application"? permission.

@DarthHater

[2020-02-21 20:20] #168 closed

[2020-02-21 21:22] #167 closed

[2020-02-21 21:24] DarthHater commented on #168
:tada: This issue has been resolved in version 4.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-21 21:24] DarthHater commented on #167
:tada: This issue has been resolved in version 4.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-21 22:49] DarthHater opened #172 "[FEATURE] Allow users to specify the log directory"
* **What are you trying to do?**
Users could benefit from being able to specify the log directory, in case their CI/CD platforms lock down too much (maybe they can use `/tmp` for example, etc..

This was brought up by @kevinfauth

* **What feature or behavior is this required for?**
Just a nice feature for people who want to put the logs somewhere specific

* **How could we solve this issue? (Not

[2020-02-24 23:34] sonatype-depshield[bot] opened #174 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.flattendeep:4.4.0"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.flattendeep:4.4.0](https://ossindex.sonatype.org/component/pkg:npm/lodash.flattendeep@4.4.0) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)
- (CVSS **6.5**) [[CVE-2018-3721] lo

[2020-02-24 23:34] sonatype-depshield[bot] opened #175 "[DepShield] (CVSS 7.5) Vulnerability due to usage of debug:2.6.9"
**Vulnerabilities**

DepShield reports that this application's usage of [debug:2.6.9](https://ossindex.sonatype.org/component/pkg:npm/debug@2.6.9) results in the following vulnerability(s):

- (CVSS **7.5**) [CWE-400: Uncontrolled Resource Consumption ('Resource Exhaustion')](https://ossindex.sonatype.org/vuln/b45ca07c-673b-459f-97b5-9bf23f1f3db5)

<hr />

**Occurrences**

debug:2.6.9 is a transit

[2020-02-25 19:39] DarthHater commented on #175
This is a dev Dependency, going to close since we don't really have away around it, and it's development side, not production code.

[2020-02-25 19:39] #175 closed

[2020-02-25 19:40] DarthHater commented on #174
This is a dev dependency, so I'm going to close this as it doesn't make it's way into our production code.

[2020-02-25 19:40] #174 closed

[2020-03-02 19:19] bhamail opened #176 "[FEATURE] Doco - Add example of invoking auditjs via npx"
During user testing, we saw a case where a global install of auditjs via npm did not appear to work on windows. e.g.:

[code]
However, later attempting to invoke `auditjs` on the command line resulted in `executable not found` error.

We may want to add an example to docs that uses `npx` to directly invoke auditjs without the need to install it first. e.g.

[code]

and the scan "just works".

cc @

[2020-03-02 19:25] bhamail opened #178 "[FEATURE] Add --bower flag to force use of bower.json file"
User testing exposed a use case where an environment was using both npm and bower. When running `auditjs`, the npm package.json was found and used, but the bower.json was ignored.

There may be valid use cases where the user wants the bower.json file to be used instead (and/or even combined with the npm dependencies?). This could be addressed by adding a `--bower` flag to force use of the bower.js

[2020-03-02 19:26] DarthHater commented on #178
I'm wondering if we should just:

- Merge bower AND node_modules
- Output to user "We found Bower and NPM, scanning both"

Command line flag doesn't totally bother me, just thinking about what's the best user experience?

[2020-03-02 22:57] ButterB0wl opened #179 "[BUG] --quiet flag does nothing when used with --json flag"
Found by @maurycupitt

Running `auditjs ossi --quiet --json > audit.json` results in a json output that includes the non-vulnerable dependencies when expected behavior is that those are excluded from the output

![image](https://user-images.githubusercontent.com/37317224/75725823-45e6b080-5caf-11ea-82b4-ecacd4026cc1.png)

Successfully reproduced it on my end

@DarthHater

[2020-03-02 23:00] ButterB0wl commented on #179
Also should we output to a file rather than throwing the json to the console by default?

[2020-03-03 12:24] #176 closed

[2020-03-03 18:34] #179 closed

[2020-03-03 18:38] DarthHater commented on #176
:tada: This issue has been resolved in version 4.0.9 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.9)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-03 18:38] DarthHater commented on #179
:tada: This issue has been resolved in version 4.0.9 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.9)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-03 23:46] ButterB0wl commented on #138
I'm going to close this out for now, not having output has been pretty clean and forces devs to go IQ server.  May think of other things to display later but I think we're okay for now here

[2020-03-03 23:46] #138 closed

[2020-03-03 23:47] ButterB0wl commented on #126
closing out, can reopen as a bug if it becomes an issue through usage

[2020-03-03 23:47] #126 closed

[2020-03-03 23:51] ButterB0wl commented on #128
While that use case would be nice to have, i think its introducing a lot of complexity (modifying a file from the command line) for a relatively minor use case.  I don't think anyone will ever complain about this, and if they do they should buy lifecycle anyway.

[2020-03-03 23:51] #128 closed

[2020-03-09 18:25] ButterB0wl commented on #119
The verbose flag gives quite a bit, is this gonna be for console output out what actually gets output to the logs?

[2020-03-12 17:10] bhamail opened #184 "[FEATURE] Provide more location info in yarn Monorepo use case"
* User testing discovered an issue when yarn is used to hoist all dependencies up to a “parent” node_modules directory. We can scan this fine, but we don't provide the user enough information to know "where" the module is being used.

* It may be possible to use the yarn `nohoist` feature to prevent the moving of modules into a "parent", but this may have other drawbacks. A workaround might be to

[2020-03-12 17:26] KevinFauth commented on #184
I spoke with one of my tech leads, and he reminded me that the node module resolution algorithm is supposed to keep going up the parent chain looking in `node_modules` to find a possible match.

I'm not sure how you guys implemented checking the packages, but according to Node, adding something as a `require()` should do that resolving automatically.

https://nodejs.org/api/modules.html#modules_lo

[2020-03-12 17:31] DarthHater commented on #184
@KevinFauth we are using: https://github.com/npm/read-installed

The issue being, it reads the physical structure of a `node_modules` folder. Read-installed was written by npm way back when to do resolution. They've switched what they've done since, but I've been hesitant to use it since it might be just npm specific. I'll have to noodle a bit on this!

[2020-03-20 11:59] anym0us opened #187 "[FEATURE] Count number of ignored vulnerabilities in 4.x"
AuditJS 3.x reported the number of skipped/ignored vulnerabilities:
<img width="576" alt="Screen Shot 2020-03-20 at 1 52 09 PM" src="https://user-images.githubusercontent.com/5333431/77161658-3f33a800-6abb-11ea-9114-f0dec1664fe2.png">

However, AuditJS 4.x is missing such functionality:
<img width="547" alt="Screen Shot 2020-03-20 at 1 52 23 PM" src="https://user-images.githubusercontent.com/53334

[2020-03-20 18:17] DarthHater commented on #187
Ignored meaning whitelisted correct @anym0us ?

[2020-03-20 18:27] anym0us commented on #187
@DarthHater
Correct. 👍

[2020-03-20 19:10] anym0us commented on #187
Whitelisted AND existing among dependencies in the scanned repo.
(so it's number of whitelisted for the exact scan)

[2020-03-20 19:11] anym0us commented on #187
In the example above `skipped = 0`
however in whitelist file I have `4` vulnerabilities mentioned.

[2020-03-20 19:45] DarthHater commented on #187
Do you want it to be a count of the whitelisted IDs or the actual vulns skipped? I would imagine the latter.

[2020-03-24 19:01] #178 closed

[2020-03-24 19:03] DarthHater commented on #178
:tada: This issue has been resolved in version 4.0.13 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-01 09:31] francois-roget opened #191 "[FEATURE] Add support of corporate proxy"
* **What are you trying to do?**
Running auditJs on a CI server that sits behind a corporate firewall.

The operation team opened the url "https://ossindex.sonatype.org/"  from the CI server to the internet (verified with a curl command) but the auditJs tool hangs when "Submitting coordinates to Sonatype OSS Index"

* **What feature or behavior is this required for?**
Being able to automate the vu

[2020-04-03 16:37] kevinrobinson opened #192 "Changelog or migration guide for 3.x to 4.x?"
I see that the README says " lots has changed since 3.0.0, mainly around usage."  Can you share what changed, why the major version, etc.?  Thanks!

[2020-04-03 16:40] kevinrobinson opened #193 "What are AllenJS and ArtieJS?"
I scanned the [changelog](https://github.com/sonatype-nexus-community/auditjs/blob/master/CHANGELOG.md) and noticed this, so since I couldn't understand what it meant I read https://github.com/sonatype-nexus-community/auditjs/commit/592fb93e88b4d4837388ea10bea60223c956cca6.  It seems like the project has added these command line arguments and code as a kind of tribute to particular developers, and

[2020-04-03 16:45] DarthHater commented on #193
@allenhsieh and @ButterB0wl both worked on the project. They are Easter Eggs for their deep involvement.

Most of our work was done in Alpha/Beta branches, and kinda pushed along the way. 163 was the culmination of everything that made it into alpha/beta along the way.

I can likely do a manual update to the CHANGELOG that brings over the summary of everything from the alpha/beta branches, but I d

[2020-04-03 16:51] kevinrobinson commented on #193
@DarthHater Got it, thanks!!  Yeah, for me at least if you can help with https://github.com/sonatype-nexus-community/auditjs/issues/192 that would probably be most productive,  :)

[2020-04-03 16:52] #193 closed

[2020-04-03 16:57] DarthHater commented on #192
The major version change is because we changed APIs significantly, and you know, semver! That's the largest reason for the version change, but we did change a bit of the usage along the way, and we wanted to make sure that if we pushed this out we wouldn't break existing users of `3.x`

Some of the most major changes we made are:
- We parse node_modules to obtain what is actually installed, rather

[2020-04-03 16:57] DarthHater commented on #193
Sounds good!

[2020-04-13 19:13] KevinFauth commented on #184
I know a lot has happened in the last 30 days, but curious if this has been looked at yet.

[2020-04-13 19:28] DarthHater commented on #184
Nothing yet, and not because of the Coronavirus! @KevinFauth I'm kinda scratching on my head on what to do here, but I'll see if I can open up an issue on yarn's repo to see what they think!

[2020-04-13 19:35] DarthHater commented on #184
@KevinFauth filed an issue on `yarn`'s repo, let's see what they say!

[2020-04-13 19:38] KevinFauth commented on #184
Thanks @DarthHater !

[2020-05-08 23:20] sonatype-depshield[bot] opened #196 "[DepShield] (CVSS 7.5) Vulnerability due to usage of acorn:7.1.0"
**Vulnerabilities**

DepShield reports that this application's usage of [acorn:7.1.0](https://ossindex.sonatype.org/component/pkg:npm/acorn@7.1.0) results in the following vulnerability(s):

- (CVSS **7.5**) [CWE-400: Uncontrolled Resource Consumption ('Resource Exhaustion')](https://ossindex.sonatype.org/vuln/e7bea77b-f37f-4290-a069-08fc9c4b6ac0)

<hr />

**Occurrences**

acorn:7.1.0 is a transit

[2020-05-08 23:20] sonatype-depshield[bot] opened #197 "[DepShield] (CVSS 7.5) Vulnerability due to usage of yargs-parser:13.1.1"
**Vulnerabilities**

DepShield reports that this application's usage of [yargs-parser:13.1.1](https://ossindex.sonatype.org/component/pkg:npm/yargs-parser@13.1.1) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2020-7608] yargs-parser could be tricked into adding or modifying properties of Object.prot...](https://ossindex.sonatype.org/vuln/b7740d41-fc85-4d22-8af5-5a3159e114ea)

[2020-06-02 18:47] #191 closed

[2020-06-02 18:51] DarthHater commented on #191
:tada: This issue has been resolved in version 4.0.17 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.17)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-15 17:20] anym0us commented on #187
@DarthHater
The actual vulns skipped, please.

[2020-08-05 16:10] KevinFauth commented on #184
Hi! Just following up on this - I assume this has stalled out because of no movement on Yarns side?

[2020-08-05 16:35] DarthHater commented on #184
Pretty much, just bumped it over there, sorry pal!

[2020-08-12 17:33] bhamail opened #202 "[FEATURE] Change offensive terms"
Replace use of terms that may be offensive, e.g. whitelist

cc @bhamail / @DarthHater / @allenhsieh / @ken-duck

[2020-09-16 00:39] calvinbui opened #204 "[BUG] Updated Lodash version is alerting on older version"
**Describe the bug**
We use Lodash 4.17.19 but are receiving an alert for Lodash 4.17.15

**To Reproduce**
Steps to reproduce the behavior:
1. Run `auditjs ossi`
2. See error

**Expected behavior**
No alert

**Screenshots**
[code]

**Desktop (please complete the following information):**
CI:
 - OS: Amazon Linux 2
 - NodeJS Version: v10.15.3
 - Version 4.0.18

Also seen locally:
 - OS: MacOS
 - Nod

[2020-09-17 09:16] anilsaini1212 opened #205 "nexus 3.23.0 image from quay.io found some security vulnerabilities"
Hi ,Have a Good Day , we are using the nexus 3.23.0 image from quay.io in our Env
We found some vulnerabilities while scanning the image through Atrifactory X-ray scanner

![nexus-3 23 0](https://user-images.githubusercontent.com/39952553/93451220-8547b800-f8f4-11ea-970c-43ed9493ff34.PNG)

May you please check

Thanks
Anil kumar

[2020-09-24 19:54] bhamail commented on #202
Not intending to single out auditjs, but I'm gonna use this Issue to collect some notes on converting projects to use a "main" branch instead of a "master" branch. Hopefully this is of use to others. Please add your learnings too!

- CircleCI - so far our configs for CircleCI have not required any sort of changes. If your `config.yml` mentions the `master` branch by name for any reason, you might

[2020-09-30 19:42] ButterB0wl opened #206 "[FEATURE] Error message formatting"
`npx auditjs@latest iq -a auditjs and get [ERROR] auditjs - There was an issue auditing your application! Error: Error: No valid ID on response from Nexus IQ, potentially check the public application ID you are using`

Error: Error: is duplicated in the error message, minor fix but i think it's in all the error messages

cc @bhamail / @DarthHater / @ken-duck

[2020-09-30 21:16] sonatype-depshield[bot] opened #209 "[DepShield] (CVSS 8.8) Vulnerability due to usage of minimist:0.0.8"
**Vulnerabilities**

DepShield reports that this application's usage of [minimist:0.0.8](https://ossindex.sonatype.org/component/pkg:npm/minimist@0.0.8) results in the following vulnerability(s):

- (CVSS **8.8**) [CWE-94: Improper Control of Generation of Code ('Code Injection')](https://ossindex.sonatype.org/vuln/a0172c09-270c-4d3c-9816-564f20f372db)

<hr />

**Occurrences**

minimist:0.0.8 is a

[2020-09-30 21:16] sonatype-depshield[bot] opened #210 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash:4.17.15"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash:4.17.15](https://ossindex.sonatype.org/component/pkg:npm/lodash@4.17.15) results in the following vulnerability(s):

- (CVSS **7.4**) [[CVE-2020-8203] Prototype pollution attack when using &#95;.zipObjectDeep in lodash <= 4.17.15.](https://ossindex.sonatype.org/vuln/8740216c-fea2-4998-a7c0-a687c35a2f92)
- (CVSS **7.4**

[2020-09-30 21:17] sonatype-depshield[bot] opened #211 "[DepShield] (CVSS 8.8) Vulnerability due to usage of minimist:1.2.0"
**Vulnerabilities**

DepShield reports that this application's usage of [minimist:1.2.0](https://ossindex.sonatype.org/component/pkg:npm/minimist@1.2.0) results in the following vulnerability(s):

- (CVSS **8.8**) [CWE-94: Improper Control of Generation of Code ('Code Injection')](https://ossindex.sonatype.org/vuln/a0172c09-270c-4d3c-9816-564f20f372db)

<hr />

**Occurrences**

minimist:1.2.0 is a

[2020-10-05 21:22] DarthHater commented on #205
@anilsaini1212 this seems unrelated to AuditJS? Those look like dependencies of Nexus Repository itself?

[2020-10-05 21:23] DarthHater commented on #204
Interesting. @ken-duck @brittanybelle you mind taking a gander?

[2020-10-05 21:36] DarthHater opened #212 "[FEATURE] Show only vulnerable dependencies by default"
* **What are you trying to do?**

In our user testing we have noticed that people usually just want to see the dependencies (and vulnerabilities) that are vulnerable, not an entire list. We've switched some of the tools over to doing this, and added a `--loud` or some equivalent to output EVERYTHING.

* **What feature or behavior is this required for?**

It basically just makes the tool get right

[2020-11-17 04:52] ranndev opened #215 "auditjs on yarn workspaces"
Does AuditJS also check the packages over yarn workspace package dependencies? Really appreciated your answer.

[2020-11-19 15:21] Lutty76 opened #217 "[BUG] --whitelist parameter is not used, default file used instead"
**Describe the bug**
When i set whitelist parameter for specifie a file to be used for ignoring cve, auditjs is still using auditjs.json

**To Reproduce**
Steps to reproduce the behavior:
1. Run auditjs ossi -qj --whitelist ignore_cve_ui.json with ignored vulnerabilities in file ignore_cve_ui.json
2. See vulnerabilities appear in list
3. cp ignore_cve_ui.json auditjs.json
4. Run again auditjs ossi

[2020-11-19 15:32] Lutty76 commented on #217
https://github.com/sonatype-nexus-community/auditjs/blob/master/src/Whitelist/VulnerabilityExcluder.ts

Line 22, nothing for taking account the parameter ;)

[2020-12-04 15:31] instinet-lewis-boon opened #218 "[BUG] AuditJS requires Developer role on the application"
**Describe the bug**

AuditJS fails with the following if it hasn't been given the Developer role on the application.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Setup an account. Add it as a `Application Evaulator` for the application you want to scan.
2. Run AuditJS with the account. **It will fail with the above error.**
3. Now add the application as a `Developer`
4. The scan

[2020-12-19 12:37] francois-roget opened #221 "[BUG] whitelist cli parameter is not taken into account"
**Describe the bug**
When passing the --whitelist (or -w) cli parameter to the tool, the provided file is not taken into account. It still uses the file `auditjs.json` file at the root of the project instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Run 'npx auditjs ossi --whitelist test-file.json'
2. The vulnerabilities defined in the test-file.json are not ignored

**Expected behavi

[2020-12-19 12:39] #221 closed

[2020-12-19 12:40] francois-roget commented on #221
Duplicates #217

[2020-12-21 19:23] DarthHater commented on #218
@instinet-lewis-boon I'll forward this to the team that works on IQ, I believe it's because we use two different APIs. AuditJS uses what is referred to as the Third Party API. Thanks for filing an issue!

[2020-12-21 19:28] DarthHater commented on #217
@Lutty76 thanks for filing (and @francois-roget for the PR by the looks of it!), I tagged @Slim-Shary to take a gander!

[2020-12-21 19:32] DarthHater commented on #218
Couple questions for you:

- What version of IQ server are you using
- You mean adding the application itself, as a user with those permissions, inside of IQ server is causing this issue?

[2020-12-21 19:41] DarthHater commented on #205
Closing as this appears unrelated to AuditJS

[2020-12-21 19:41] #205 closed

[2020-12-21 19:46] DarthHater commented on #204
@calvinbui I took a look at this, because I'm cleaning up older issues, looks like the version range is expanded: https://nvd.nist.gov/vuln/detail/CVE-2020-8203

[code]

The description on the OSS Index site is out of date, but the vuln is applicable.

[2020-12-21 19:46] #204 closed

[2020-12-22 23:36] #217 closed

[2020-12-29 16:15] instinet-lewis-boon commented on #218
Hi, sorry for the slow reply. We're using Nexus IQ v102.

So we've been previously using the Nexus IQ Evaluator `jar` to scan application's node_modules directory. We created a user in Nexus IQ to do this. It was given the `Application Evaluator` role on the application. This works successfully.

When trying out AuditJS, the same credentials didn't work until we gave the user the `Developer` role.

[2020-12-29 17:00] DarthHater commented on #218
Yes, that helps quite a bit! I'll check with some people and see what I can figure out.

[2021-01-11 18:39] brent-spiner commented on #217
:tada: This issue has been resolved in version 4.0.23 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.23)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-01 19:11] rseddon opened #222 "Feature Request: add support for automated pull requests"
* **What are you trying to do?***

Create automated pull requests from the auditjs scanner.

* **What feature or behavior is this required for?**

[Automated Pull Requests](https://help.sonatype.com/display/NXI/Automated+Pull+Requests
)
* **How could we solve this issue? (Not knowing is okay!)**

The AuditJS scanner needs to collect the git commit hash and submit it along with the rest of the scan

[2021-02-01 22:10] DarthHater commented on #222
Leaving some info for whoever picks this up:

- AuditJS uses the IQ Server Third Party API, which creates an SBOM and sends that up

Something you'll need to figure out, is how to represent a commit via an SBOM. There are some candidates, I'm trying to figure out the best way, but if I don't, that would be what you want to look at. The full spec is here: https://cyclonedx.org/docs/1.2/ (and of not

[2021-02-08 17:06] DarthHater commented on #222
After talking with Steve, the best place to describe this seems as follows:

`bom->metadata->component->pedigree->commits->commit`

We would put together a bare bones component that describes the local project (name and version we can likely get from the local package.json, for the record, as well as scope if it exists), and then populate the minimal pedigree information that is necessary per the

[2021-02-12 12:21] matthiaswronka opened #223 "[FEATURE] count vulnerabilities"
* **What are you trying to do?**

Our goal is to generate badges in our pipeline to indicate how many vulnerable dependencies are used.

* **What feature or behavior is this required for?**

auditjs should could errors and warning and include it in a summary like

[code]

Whitelisted vulnerabilities should also be reported as ignored.

* **How could we solve this issue? (Not knowing is okay!)**

*

[2021-02-12 18:40] DarthHater commented on #223
Hi @matthiaswronka ! Would you like this on the json formatter? I figure it might be easier to consume programmatically that way?

[2021-03-12 16:39] bhamail commented on #211
no longer an issue, and we're using minimist@1.2.5

[2021-03-12 16:39] #211 closed

[2021-03-12 16:39] bhamail commented on #209
no longer an issue as we're using minimist@1.2.5

[2021-03-12 16:39] #209 closed

[2021-03-12 16:41] bhamail commented on #210
no longer an issue as we're using lodash@4.17.21

[2021-03-12 16:41] #210 closed

[2021-03-23 22:03] bhamail opened #228 "[FEATURE] Read credentials from environment variables"
Should also allow for reading credentials from environment variables.
For consistency, should follow the same naming as `nancy`, eg:
[code]
and for IQ:
[code]

cc @bhamail / @DarthHater / @allenhsieh / @ken-duck

[2021-04-06 06:11] DarthHater commented on #223
Ping @matthiaswronka !

[2021-04-07 03:13] calvinbui opened #230 "[BUG] Cache location is not used"
**Describe the bug**
Cache location is not used when running `ossi` but is when clearing it's cache

**To Reproduce**
Set `CacheLocation` in `.oss-index-config`:

[code]

Go into my project and run `npx auditjs@4.0.22 ossi` then look at the `.ossindex` folder again. The `auditjs` is used for caching and has 404 files.

[code]

I run the clear cache operation and it generates the expected `auditjsc

[2021-04-07 04:48] DarthHater commented on #230
@calvinbui I imagine this is an easy fix, @Slim-Shary alerted me to it, we will take a look at it as soon as we can! We welcome PRs if you got the time and want to dig in too.

[2021-05-03 17:03] KevinFauth opened #231 "[FEATURE] Fail audit on IQ scan results failure"
* **What are you trying to do?**
I have items that are failing a scan, but the script is ignoring the failure.

`Application.ts` is calling `auditResults.auditThirdPartyResults(results)` https://github.com/sonatype-nexus-community/auditjs/blob/main/src/Application/Application.ts#L238
but the method returns `true` even though it's called out in a `failure` block: https://github.com/sonatype-nexus-c

[2021-05-03 18:51] DarthHater commented on #231
This totally sounds like a bug! I'll take a gander.

[2021-05-17 20:57] sonatype-depshield[bot] opened #232 "[DepShield] (CVSS 8.2) Vulnerability due to usage of y18n:4.0.0"
**Vulnerabilities**

DepShield reports that this application's usage of [y18n:4.0.0](https://ossindex.sonatype.org/component/pkg:npm/y18n@4.0.0) results in the following vulnerability(s):

- (CVSS **8.2**) [CWE-20: Improper Input Validation](https://ossindex.sonatype.org/vuln/ef4add6f-4439-4eb8-bd0e-d040ff4ba76b)

<hr />

**Occurrences**

y18n:4.0.0 is a transitive dependency introduced by the fol

[2021-07-14 08:58] susithrac opened #237 "Request to update the report URL"
These are the comments that I tired

auditjs iq 'https://*****.net/clm/assets/index.html' -a MY_APP -h 'https://*****.net/clm' -u **** -p **** --insecure -s 'build'

AuditJS version: 4.0.25
12:09:01
12:09:01 - Starting application
12:09:01 ✔ Starting application
12:09:01 - Getting coordinates for Sonatype IQ
12:09:03 ✔ Getting coordinates for Sonatype IQ
12:09:03 - Auditing your application with S

[2021-07-14 12:06] susithrac commented on #237
I can see the report gets generated in https://*****.net/clm/ui/links/application/MY_APP/report/6350430648a54728a30fc2e9d9f4970e

Should be a bug to specify a  broken url in the log message

[2021-07-27 20:59] bhamail commented on #218
FWIW, I confirmed this is still an issue, and adding the `Developer` role fixes the the error.

Example from a Jenkins build:
[code]

[2021-07-28 19:24] #230 closed

[2021-07-29 20:39] brent-spiner commented on #230
:tada: This issue has been resolved in version 4.0.26 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/auditjs)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.26)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-30 01:59] yechenchao opened #238 "[BUG]Cannot install version 4.0.26 via yarn"
**Describe the bug**
I am having issues with installing version 4.0.26 with yarn, it reports errors as below:

[code]

**To Reproduce**
Steps to reproduce the behavior:
run `yarn add auditjs@4.0.26`

**Expected behavior**
It should install without errors

**Desktop (please complete the following information):**
 - OS: macOS 11.4

**Additional context**
I did some investigation, and I think it's be

[2021-07-30 10:43] StickNitro commented on #238
Confirmed, I am getting the same in an Azure DevOps pipeline when executing `npm install -g auditjs`

[code]

[2021-07-30 16:18] weichtg3 commented on #238
Confirmed it's breaking for us too.  Same package-lock.json error... maybe removing that "-d" flag is the issue:
https://github.com/sonatype-nexus-community/auditjs/commit/9bb8efb8308dbae863a63066af61bbd767cec829

[2021-08-03 02:34] yechenchao commented on #238
With latest auditjs 4.0.27 my issue has been resolved by adding `force-resolutions`.

[2021-08-03 02:34] #238 closed

[2021-08-03 09:47] instinet-lewis-boon commented on #228
This would be helpful for us, but I would note that the [Nexus IQ for Gitlab CI integration] uses `NEXUS_IQ_USERNAME` and `NEXUS_IQ_PASSWORD`.

[2021-08-03 12:46] instinet-lewis-boon opened #239 "[BUG] "command not found: force-resolutions" when running with npx"
**Describe the bug**
When running auditjs with npx, we now see the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `npx auditjs`
2. See error

**Expected behavior**
Running `npx auditjs@4.0.25` correctly displays the help text.

**Desktop (please complete the following information):**
 - OS: Linux docker image (CentOS 7)
 - NodeJS Version: v14.16.1
 - Version: 4.

[2021-08-03 17:52] kellyselden opened #240 "[BUG] issue with force-resolutions"
**Describe the bug**
Updating from v4.0.25 to v2.0.27 causes:

[code]

cc @bhamail / @DarthHater / @allenhsieh / @Slim-Shary

[2021-08-03 21:08] bhamail commented on #239
I pushed a workaround that should at least ensure the process continues and attempts to run. (We're discussing converting things to use yarn as a longer term solution.).
Could folks who were able to reproduce this issue try the latest release, and let us know what happens?

[2021-08-04 01:50] kellyselden commented on #240
You may want to move force-resolutions from `preinstall` to `prepare`. According to https://docs.npmjs.com/cli/v6/using-npm/scripts, that would run it when `npm install`ing in your repo, but not when consumers `npm install`, which is what I think you want, since you're only affecting your own package-lock.json, and not consumers (since they might have a yarn.lock).

[code]

[2021-08-04 08:41] instinet-lewis-boon commented on #239
Thanks @bhamail. I can confirm `npx auditjs` now runs. We do still see `command not found: force-resolutions`. Really appreciate the quick turnaround!

[2021-08-05 20:03] DarthHater commented on #239
This should be addressed now on `4.0.29` completely. We switched from `npm` to `yarn` completely, as `yarn` supports the resolutions field natively.

[2021-08-05 20:04] DarthHater commented on #240
This should be addressed now on `4.0.29` completely. We switched from `npm` to `yarn` completely, as `yarn` supports the resolutions field natively.

[2021-08-05 20:06] DarthHater commented on #237
Hmmm, this seems odd. @bhamail this ring any bells? The base URL on this is a bit different, doesn't IQ Server have config for a base URL or akin?

[2021-08-05 20:06] #232 closed

[2021-08-06 01:34] kellyselden commented on #240
nice work!

[2021-08-06 01:34] #240 closed

[2021-08-06 14:19] bhamail opened #243 "[BUG] Revert xmldom github reference to standard version string"
To fix a security vulnerability, we needed to update to a [version of `xmldom` that is not yet published](https://github.com/xmldom/xmldom/discussions/270#discussioncomment-1080132) on npmjs.com.

After `xmldom 0.7.0` is published, we should revert the `package.json` version to a standard version string.

Relates to PR #242

See: https://github.com/xmldom/xmldom/discussions/270

cc @bhamail / @Dar

[2021-08-09 15:31] sonatype-depshield[bot] opened #244 "DepShield encountered errors while building your project"
The project could not be analyzed because of build errors. Please review the [error messages here](https://depshield.sonatype.org/error/sonatype-nexus-community/auditjs/bEewVXnSq_tGYnnJW-dgXw). Another build will be scheduled when a change to a manifest file<sup>*</sup> occurs. If the build is successful this issue will be closed, otherwise the [error message](https://depshield.sonatype.org/error/

[2021-08-23 10:00] arddluma opened #245 "[FEATURE] Sarif format support"
* **What are you trying to do?**
Integrate auditjs into the pipeline with better way of showing results.
* **What feature or behavior is this required for?**
With the sarif format support output will be shown on the `Security tab` of the repository.
* **How could we solve this issue? (Not knowing is okay!)**
https://docs.oasis-open.org/sarif/sarif/v2.0/sarif-v2.0.html
https://codeql.github.com/doc

[2021-08-23 19:38] DarthHater commented on #245
Hey there! No real objection to this. Want to send us a PR? I'm pretty sure you could do this already using `jq` etc... and consuming the existing json output, but if you want it built into the tool I'd be glad to help out.

[2021-09-07 14:45] bhamail opened #246 "[BUG] Large number of files created on disk when running scan"
**Describe the bug**
When running auditjs on a project, there are a large number of files created and left on disk after the scan completes.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to a project (e.g. [js-sona-types/examples/react-test-app](https://github.com/sonatype-nexus-community/js-sona-types/tree/main/examples/react-test-app)).
2. Run:
[code]
3. Many files with names th

[2021-09-07 20:24] #246 closed

[2021-09-07 20:40] brent-spiner commented on #246
:tada: This issue has been resolved in version 4.0.31 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/auditjs/v/4.0.31)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.31)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-07 20:40] brent-spiner commented on #243
:tada: This issue has been resolved in version 4.0.31 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/auditjs/v/4.0.31)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.31)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-24 09:59] FelixWernerSTR opened #249 "auditjs-4-0-33 submits lodash dev-dependency to nexus iq"
with this package.json configuration below. Auditjs in version 4.0.33 submits lodash dev-dependency to nexus iq server. But should not.
node_modules/auditjs/bin/index.js iq -a AGDB-UI -s build -h http://nxiq.pr.sv.loc -u xxxxx -p xxxxx

See also Screenshots please.

  "dependencies": {
    "axios": "0.21.4",
    "base64toblob": "0.0.2",
    "bootstrap": "4.6.0",
    "bootstrap-vue": "2.20.1",

[2021-11-24 10:39] FelixWernerSTR commented on #249
Notable Info. If i move "eslint-plugin-import": "2.22.1" to devDependencies, the problem seems to be solved.

[2022-01-10 14:34] DragonStuff opened #250 "security(npm): colors.js has embedded denial of service"
The maintainer has intentionally published a DoS in `1.4.1` and higher. It is recommended to lock to 1.4.0 and move to another package.

- Introduced in: https://github.com/Marak/colors.js/commit/074a0f8ed0c31c35d13d28632bd8a049ff136fb6#diff-92bbac9a308cd5fcf9db165841f2d90ce981baddcb2b1e26cfff170929af3bd1R18
- Proposed patch:
[code]
- Source: https://github.com/sonatype-nexus-community/auditjs/blo

[2022-04-12 18:02] vinishakurapati commented on #124
Hi! Is there any update on this one? Currently facing an issue with auditjs step to integrate in a jenkins build, Able to run it on cli but is no results even though nexus plugin is used?

[2022-04-12 18:20] bhamail commented on #124
@vinishakurapati Thanks for asking!

Here's an approach I have used in a CI build. Perhaps you could try it out, and let us know if it works for you? Even better, create a PR with an update to the README.md! :)

[code]

If you want to capture the output to a file, see below:

[code]

If you want to run against Sonatype Lifecycle (IQ) instead of OSSI:
[code]

[2022-04-12 18:36] vinishakurapati commented on #124
@bhamail Thanks for responding. I did use " npx auditjs@latest iq -a app_id_in_iq_server -s build -u $IQ_USERNAME -p $IQ_PASSWORD -h https://iq_server_url/' " and it works but my question here  if the result produced by the command is something that can be scanned with the Nexus plugin used in jenkins where it needs to directly send the results to the Server after the build steps are done in jenki

[2022-04-12 18:45] bhamail commented on #124
The command I gave is basically just like any other shell command in a Jenkins build: if the CLI command fails, the build will fail.

As far as getting pretty results integrated into the Jenkins report, I'm not sure. The stdout from the command will be captured, and include warnings/results, but it is not a "separate" report or anything like that.

Not sure how that Nexus plugin is related here -

[2022-04-12 19:13] vinishakurapati commented on #124
Let me put it this way, so when this command is run like a shell command in jenkins build it gives report in the build console output  like in the first attached image, but usually because of nexus plugin integrated, whenever build is run it usually it should display a view link option alongside a smaller display of number of violations in build information ![image](https://user-images.githubuserc

[2022-04-12 19:14] vinishakurapati commented on #124
@bhamail hope this gives you a clear idea of what I'm referring to

[2022-04-13 17:35] vinishakurapati opened #252 "Nexus Platform Plugin in Jenkins is not working for npm auditjs dependencies in the code"
So  used "**npx auditjs iq -a application id -s build -h [http://grs-sonatype1.companyname.linux:8070] -u username -p passwrd* "commad in cmd and it produces report in  sonatype nexus iq server with correct results of violations.

I need this auditjs step incorporated in such a way that it needs to be scanned using nexus iq platform plugin in jenkins, but this plugin is integrated and works well w

[2022-04-13 19:47] bhamail commented on #124
@vinishakurapati What you are describing is basically a Jenkins plugin. You could probably write a Jenkins plugin that would include the output of auditjs. I don't know how to do that. Might be worth following up on a Jenkins list.

[2022-04-13 19:49] bhamail commented on #252
@vinishakurapati Auditjs and the Nexus plugin are not related at all. They are separate tools.

[2022-04-14 11:37] brady305 opened #253 "npm audit lists vulnerabilities that auditjs doesn't"
There are cases where npm audit lists vulnerabilities that auditjs doesn't.  If Sonatype thinks those others are false positives, is there an option to include false positives?

[2022-04-14 14:24] bhamail commented on #253
If you are asking is it possible for auditjs to include vulnerabilities from npm audit, the short answer is no. ;) Apologies if I'm missing the point.

[2022-04-14 14:33] brady305 commented on #253
No, what I'm asking is if there is a way to include all vulnerabilities.  In my npm audit run for example, it found that the version of a package called node-forge had two vulnerabilities. In the auditjs run, it didn't find any. So, I just searched for that vulnerability to see if I could find anything about it to see why it would be a false positive. What I found was the opposite. there is a blog

[2022-04-20 19:14] #250 closed

[2022-04-20 19:16] brent-spiner commented on #250
:tada: This issue has been resolved in version 4.0.37 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/auditjs/v/4.0.37)
- [GitHub release](https://github.com/sonatype-nexus-community/auditjs/releases/tag/v4.0.37)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-27 15:06] bhamail commented on #252
Closing, as Nexus Platform Plugin is not intended to show auditjs output.

[2022-04-27 15:06] #252 closed

[2022-05-04 13:35] vinishakurapati commented on #218
@bhamail @DarthHater
Hi, I am facing the same issue so I changed the role from "Application evaluator" to "Developer" but build is failing with a new error, Not sure what is causing this step failure, should the nexus user be given both developer and application evaluator role?
` ` `
C:\Jenkins\workspace\development_application -frontend>npx auditjs iq -a application id in IQ -s build -h http://gr

[2022-05-04 16:14] vinishakurapati commented on #218
@bhamail   It works when the user is given both "developer" and "application evaluator", results can be  accessed through the link from console log of the build Which itself is very helpful for my project But  it shows no results in GUI of jenkins and GUI of Nexus  and when clicked the "view report" option. Wondering if it is the plugin Nexus platform issue or issue from nexus to validate plugin r

[2022-05-25 18:25] RundaScath opened #255 "[FEATURE] - Allow the whitelist file to be either JSON or JSONC so comments can be added"
* **What are you trying to do?**
* I would like to add comments around the white list file by adding a header section with URLs to this repo's readme file and an explanation of the file
* I would like to add header comments over groups of white listed issue Ids in order to better group them and organize the list

* **What feature or behavior is this required for?**
* Human context, this will help

[2022-05-31 15:45] RundaScath opened #256 "[BUG]Outdated and vulnerable third party library in use (hosted-git-info@2.8.9)"
**Describe the bug**
When running the scan I am greeted with a vulnerability that is produced by the AuditJS library from its third party dependencies use of [hosted-git-info](https://github.com/npm/hosted-git-info).
Running `Yarn Why` I found the vulnerable package is many dependencies deep...
[code]
In a quick resolution I was able to avoid adding it to my white list by using `resolutions` in my

[2022-06-01 19:57] MatiSanchez opened #257 "[BUG] Old Bootstrap's versions not appear as vulnerables"
**Describe the bug**
In Bower, 2 weeks ago, old versions of bootstrap appear as vulnerables:

![image](https://user-images.githubusercontent.com/7718389/171489456-beb42044-62c4-4f65-b378-fcd4539ff8b0.png)

![image](https://user-images.githubusercontent.com/7718389/171489492-8053bdaf-df08-4a37-beb0-5a01fd2f92f0.png)

But the last few days, no vulnerability was found:

![image](https://user-images.g

[2022-07-11 09:18] wilsonwaters opened #258 "[FEATURE] Whitelist entries should (optionally) be time-limited"
* **What are you trying to do?**
We occasionally add whitelist entries for vulnerabilities which don't have a current solution, but are likely to be resolved by package maintainers at some point in the future. The risk in adding a whitelist entry is we will undoubtedly forget to come back and fix the issue / upgrade packages once the vulnerability has been resolved.

* **What feature or behavior i

[2022-07-11 12:02] wilsonwaters commented on #258
Amusingly, the same prompt for us to create this PR is also affecting the auditjs build itself!
![image](https://user-images.githubusercontent.com/8985886/178259099-a537376b-9a40-4f3d-a13d-b055c49b69f4.png)
The node-fetch package has a [vulnerability](https://ossindex.sonatype.org/vulnerability/sonatype-2022-3677) which is causing the build to fail. There's no fix in node-fetch yet. Rather than si

[2022-08-03 12:43] aleks3fs opened #260 "[BUG] auditjs fails in yarn 3 with PnP"
**Describe the bug**
When I try to use `auditjs ossi` with with yarn 3.2.2 with PnP enabled, I get error:

[code]

Should auditjs work on PnP?

**To Reproduce**
Steps to reproduce the behavior:
1. Create new folder
2. Run `yarn init -2`
3. (optional) Install any dependency
4. Run `yarn dlx auditjs ossi`

**Expected behavior**
Successful auditjs run

**Desktop (please complete the following informa

[2022-08-12 07:49] mklekowski opened #261 "[FEATURE] Filtering vulnerabilities by score"
* **What are you trying to do?**
I'm trying to ignore all of the vulnerabilities with score less than e.g. 6

* **What feature or behaviour is this required for?**
Option to specify score (or severity high, critical etc), below which, found vulnerabilities are automatically ignored.

* **How could we solve this issue? (Not knowing is okay!)**
-
* **Anything else?**
-
cc @bhamail / @DarthHater / @a

[2022-08-17 18:04] carcinocron commented on #255
yaml/toml would be way better

[2022-09-09 07:15] jkowalleck opened #263 "[FEATURE] CycloneDX via"
PROPOSAL: instead of implementing the CycloneDX stuff on your own,
lets collaborate and use <https://www.npmjs.com/package/%40cyclonedx/cyclonedx-library> instead.

Like your current implementation, this library
* follows official specs.
* is typed via TypeScript.
* knows data models
* can handle serialization of these models to JSON or XML

The trade-off:
* you depend on another lib

The benefit:

[2022-11-23 00:19] timkpaine commented on #261
I need the as well so i've hacked it on top here: https://github.com/timkpaine/auditjs-screener

[2022-11-29 13:14] ghost opened #264 "[FEATURE] Allow saving the Nexus IQ report JSON to file"
* **What are you trying to do?**

The [scan-gradle-plugin](https://github.com/sonatype-nexus-community/scan-gradle-plugin) allows us save the Nexus IQ scan results to a file with the property `resultFilePath`.

It would be great if this plugin could also dump the results to a file.

* **What feature or behavior is this required for?**

Once we have the file we can programmatically reference the re

[2022-11-30 01:25] duraki commented on #264
Whats wrong with [alternative output formats](https://github.com/sonatype-nexus-community/auditjs#alternative-output-formats)?

[2022-11-30 09:04] instinet-lewis-boon commented on #264
The `--json` and `--xml` flags are only available on the `ossi` subcommand. We only use the `iq` subcommand. Ideally, the output would be consistent across auditjs, scan-gradle-plugin, nancy, etc.